In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" Color="red">ch02. 자료형과 연산자 </font></b>

# 1절. 변수
# 변수 : 프로그램 작업 처리를 위해 값을 저장할 수 있는 메모리 공간
# 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정이 없어서 그냥 할당하면 됨.
#을 하나하면 큰 제목  #을 더 추가할수록 작아짐
##오케이

## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 자료형(타입)이 셋팅됨.
- 파이썬에서의 모든 변수는 객체로 저장됨. (객체=값과 함수가 같이 존재하는 것)
- 파이썬의 모든 변수는 레퍼런스 변수 (객체 자체를 건들이기 때문)
- 파이썬의 모든 변수는 각자의 주소가 있음.
- is_Integer 함수는 정수판독기

In [21]:
r = 5 
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [25]:
import numpy as np # numpy패키지를 np라는 이름으로 사용. pipy.org 여기에 배포되고 있는 패키지들
area = np.pi * r * r
print('넓이 :', area)

넓이 : 78.53981633974483

In [26]:
# 이렇게 되서 area값이 바뀌어버렸음.

In [28]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2176498742224
area의 타입 : <class 'float'>

In [29]:
area.is_integer()

False

In [31]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2176391250448
area의 타입 : <class 'int'>

In [ ]:
#area 값을 바꿔서 기존 값을 버렸음. 메모리에 10넣고 함수 더해졌음.

In [2]:
area = '파이썬'
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))
# id 는 뒷괄호안의 주소를 , type은 뒷 괄호안의 형태를, print는 뒷 괄호안의 것들을 나타내는 함수다

area의 주소 : 2994146879376
area의 타입 : <class 'str'>

In [33]:
#area에는 for 쓰면 안되고, 다른 언어도 쓰면 안돼

## 1.2 변수 이름 규칙
- 문자로 시작 (숫자로 시작하면 안됨)
- 문자(특수문자는 _ 외에는 불가), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하긴 하나, 최대한 피해라.아래 예시 다 안돼
  str = 5   id = 2   int = 4  
  꼭 써야 한다면, str_식으로 사용하라. 
- 파이썬 예약어(for, if, ...)는 변수명 사용 불가
  for = 5 < 절대 사용금물
- 한글 변수는 꼭 필요시에만 사용. 최대한 피해라.
  이름 = "홍길동" 
  print(이름) < 이런것들 비추
- 함수 오른쪽에 바로 . 붙히면 "함수의 안에"라는 의미

In [ ]:
print = 5

In [4]:
# member.name ='홍길동' < 불가능. 2번 방법이 파이썬 방법으로 제일 많이 쓰임. 3번은 자바나 C언어에서 많이 쓰임
member_name = '홍길동'
memberName = '홍길동'
print(member_name, memberName)

홍길동 홍길동

In [ ]:
# 숫자 : 복소수, 정수, 실수 (소수점 있으면 실수, 없으면 정수 - 이 논리에는 음수도 적용)
# 복소수 1+3i 를 친다하면 복소수는 i를 사용하지만, j를 사용함 그래서 파이썬에서는 1+3j 로 사용한다. 복소수가 뭐여...

In [5]:
i = 1 + 3j
print(type(i))

<class 'complex'>

In [7]:
isinstance(i, complex) # i 변수가 complex 타입의 객체인지? 묻는 함수다. isInstance = 팩트체크

True

In [8]:
isinstance(i, int)

False

# 1.3 다중 변수 선언

In [11]:
a = 10
b = 20
#위에 것은 다중변수 선언이 아님

In [15]:
a, b = 10, 20
print(a,b)
#변수를 한 함수에서 부여했으므로 다중변수선언이다.

10 20

In [25]:
a,b=b,a+b
print(a,b)
#결과에서 알 수 있듯이, 앞에 값이 선계산이라는 건 존재하지 않는다. 동시에 각자로 부여되는 것.
#즉, 다중 변수 할당 시, 순차적 할당이 아니고, 일괄 동시 할당이다. b가 a라고 해서 a값이 20이 되었지만, 뒷계산에 그게 적용되지 않는 것.
#Shift+Enter를 치면 칠수록 셀이 계속 계산되는구나 !!

1440 2330

## 1.4 도움말
help 함수를 사용하면 함수가 뭔지 알려준다. 다 읽고난 후 Q를 눌러주면 빠져나올 수 있다. ESC+O 토글도 괜츈
근데 help함수는 잘 안씀

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
# 도움말 기능 : Shift + Tab 키
# 함수값 다음 나올 괄호() < 여기서 괄호 맨앞에 커서 깜빡 거릴 때 커맨드
# 이 방법에서 기존 함수는 안 나옴. 그건 help를 이용하도록.

In [33]:
# 아래과 같은 걸 매개변수라 부른다
# dafault값을 0으로 주고 싶다면 첫줄에 y=0이라 덧붙히면 됨)
def add(x,y=0):
    '''
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨 (default값 0)
    '''
    return x*10+y

In [34]:
add(3,4)

34

In [35]:
add(3)

30

# 2절. 화면i/o

In [42]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음. 따옴표 안에 꼭 받아야 함. 작은따, 큰따 상관 없음
first = input()
print(first)

아무거나
아무거나

In [43]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?8
두번째 숫자는?2

In [44]:
print(first, second)

8 2

In [47]:
print('두수의 합은', first+second)
#문자열만 받는다고 했기 때문에, 이런결과가 나옴

두수의 합은 82

In [55]:
#int로 묶어서 수정처리
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?10
두번째 숫자는?10

In [56]:
print('두수의 합은', first+second)

두수의 합은 20

In [57]:
print('first', first, 'second', second)

first 10 second 10

In [58]:
print('first', first, 'second', second, sep='~')

first~10~second~10

In [59]:
print('first', first, 'second', second, sep='\t')

first	10	second	10

In [60]:
print('first', first, 'second', second, sep='\n')

first
10
second
10

In [66]:
print('first', first, 'second', second, sep=' - ', end='')
print('Hello', 'Python', sep=' ')

first - 10 - second - 10Hello Python

In [67]:
print('first', first, 'second', second, sep=' - ', end='\n')
print('Hello', 'Python', sep=' ')

first - 10 - second - 10
Hello Python

In [68]:
print('first', first, 'second', second, sep=' - ', end='\t')
print('Hello', 'Python', sep=' ')

first - 10 - second - 10	Hello Python

# 3절 기본 자료형
- 변수가 가져야 할 값의 형식 (자료형에 따라 갑의 크기와 저장 방식이 달라짐)
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐 
    - `숫자` : int, float(소수점. ex: = 4.0 (정수로 칠 수 있지만 쩜이 있기 때문에 무조건 소수임), complex(허수부 j) 
    - `문자` : str('',"")
    - `논리` : bool(True/False)
- 컴퓨터는 2진수로 구성되기에, 0과 1로 숫자를 저장한다. 4 = 0100

## 3.1 숫자형

In [69]:
import sys
print(sys.maxsize) # 정수의 최대값 : 2**63 - 1 (2에 63승 빼기 1)

9223372036854775807

In [70]:
2**63-1

9223372036854775807

In [75]:
i = sys.maxsize + 1000000000000000000
print(i)
print(type(i))

10223372036854775807
<class 'int'>

In [76]:
# f = 0.00000000000000000012 이렇게 쓰기 보단
f = 1.2e-20 #지수형 1.2*10의 -20승
print(f)
b=1.2e20 #지수형 1.2의 10의 20승
print(b)

1.2e-20
1.2e+20

In [78]:
# 파이썬에서는 /(나누기)의 결과는 무조건 실수.(실수는 소수점을 넣은 수)
f=3/2
print('f=',f)

f= 1.5

In [80]:
f=4/2
print('f=',f)

f= 2.0

In [84]:
# 자바나, C, C++처럼 정수/정수 결과를 정수로 바꾸고 싶을 땐 형변환or몫연산자 사용하면 됨
f=int(3/2) #int() : int로 형변환(내림)
print('f=',f)
f=3//2 #몫연산자
print('f=',f)

f= 1
f= 1

## 3.2 문자형
겹따옴표("~")나 홑따옴표('-') 이용

In [93]:
#2가지 따옴표 같이 사용할 때의 경우
# name = '홍길동\'짱\'' # 홍길동 '짱' 이라고 출력하고 싶을 땐 역슬래시 사용 << 구식 방법
name = "홍길동'짱'"
address = '서울시 관악구 "신림"동' #서울시 관악구 "신림"동
print(name, address)

홍길동'짱' 서울시 관악구 "신림"동

In [98]:
# 역슬래시를 사용하는 = escape문자(탈출문자) : \n \t \r
# \r : 맨 앞으로 가라는 명령
text = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 여러줄\n줄바꿈'
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

In [102]:
text = '''
여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈
'''
print(text)
#이 방식은 위에 엔터 아래엔터 하나씩 들어가서 생성형Ai 질문 시 토큰 낭비가 있음

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※ 문자열 연산(+,*)
문자열 연산법은 덧셈 곱셈 (+,*) 뿐이다.

In [106]:
"""
     여러 줄 주석 용도로도 이렇게 사용된다. (보통 1줄 주석이 #앞에 놓고 쓰는법)
     2025.09.12 문자열 연산 by 아무개
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [107]:
print(name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현 시 이용된다.
  - 특정정보군에서 일부정보를 제외할 때 정규표현식 사용됨 (주민번호를 지운다던가)
  - 데이터가 제대로 인입되었는지 확인할 때에도 정규표현식 사용됨 (이메일이 고르게 입력되었다던가)
*아래 예시에서처럼입력값 앞에 r넣으면 수식값까지 반영되어 표현됨.

In [110]:
# raw 데이터 : 데이터 처리 시 이스케이프 문자를 그대로 저장 (\n \t \' \" 등) 즉, 이스케이프문자가 안 먹힌다는 것.
print('Hello\nworld')
print(r'Hello\nworld')

Hello
world
Hello\nworld

#### 정규표현식(regex)
    1.참조 : https://ko.wikipedia.org/wiki/정규_표현식 위키백과
    2.간략문법 (역슬래시 사용)
     \d (숫자와 매치. [0-9]와 동일)
     \D (숫자가 아닌 것
     \w (영문자나 숫자). [a-zA-Z0-9]와 동일 < 사이에 스페이스 두면 안됨. 그러면 스페이스까지 포함하는 거로 인식
     \W (영문자나 숫자가 아닌 문자)
     . (아무 문자 하나를 의미 : 특수문자도 가능)
     \. (.을 의미)
     \- (-을 의미)
     {2,} (2번 이상 반복을 의미)
     {2, 4} (2~4회 반복)
     ?  (0번이나 1번 나옴을 의미)
     +  (1번 이상 반복 = 무조건 나옴)
     *  (0번 이상 반복 = 안 나올 수도 있음)
     | Or를 의미함
    3. 정규표현식 연습장 : https://regexr.com/
      ex.1 전화번호 : 02 888 7777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
          함수1 - 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4} < 이렇게 빼고 주민번호를 제외시키는 게 빠름
      ex.2 이메일 : abc12@samsung.co.kr abc24@sns.com
          함수1 - \w+@\w+(\.\w+){1,2} < 베스트
          함수2 - \w{1,}[@]+\w{1,}[.]+[com|co.kr]+ < 나의 초안 테스트
      ex.3 주민번호 : 981212-1052525
          함수1 - \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}

In [ ]:
# ASCII CODE는 컴퓨터가 알파벳과 문자들을 이진법 숫자로 저장한 방식 (대문자 A = 65)

In [1]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-1234-1444, 특징:동해번쩍 서해번쩍 \
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)
#따옴표 상태에서 한 줄 쓰고 역슬래시 넣고 다음줄 가면 이어서 쳐지는 느낌

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-1234-1444, 특징:동해번쩍 서해번쩍 혈액형:Bㅋㅋ ㅋㅋzz

In [2]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 된다.
# 정규표현식에 쓰이는 수많은 모듈을 넣은 게 re 값임. 그리고 findall이 정말 많이 쓰인다.
# 실수를 줄이고, 가독성을 높이는 용도로 raw데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) # 해당 패턴을 다 찾아줌. 없으면 빈 list [] 모양으로 나옴 - 아래 예시 121 참조
tels

['02-888-8888', '010-1234-1444']

In [3]:
email_pattern = r"\w+@\w+(\.\w+){1,2"
emails = re.findall(email_pattern, data)
emails

[]

In [4]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [5]:
print(data[18:29]) #문자열 슬라이싱 - 전체 문자를 하나씩 자른 것
print(firstTel.group(0))

02-888-8888
02-888-8888

In [6]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [7]:
print('전체 전화번호:', firstPhone.group(0))
print('국번:', firstPhone.group(1))
print('중간번호:', firstPhone.group(2))
print('끝번호:', firstPhone.group(3))

# 그룹0 을 봤을 때, 0은 항상 전체를 의미하고 1부터 첫번째 두번째~ 순서대로

전체 전화번호: 02-888-8888
국번: 02
중간번호: 888
끝번호: 8888

In [135]:
# 특정한 데이터 없애기 \s = space바  가-힣 = 한글 전체
# 아래에서 sub함수는 전체 데이터에서 한글/특문/영어/숫자 아닌 걸 빼라는 거임
re.sub(r"[^가-힣0-9A-Z\s]", ' ', data)

'이름 홍길동  주소 서울  전화 02 888 8888  핸드폰 010 1234 1444  특징 동해번쩍 서해번쩍 혈액형 B       '

In [9]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍 혈액형:Bㅋㅋ ㅋㅋzz'

In [14]:
# 파일 경로 내보내는 법
# 빨대 꼽아서 통로 만들어주는 '스트림 객체'설정 시, 한 방향으로만 해야 한다. (읽기만 하던지 쓰기만 하던지 방향 지정 필수)
# 대표안) 경로 복붙하면 역슬래시로 붙여지기 때문에 이스케이프 문자를 무시하기 위해 r을 쓴다
# 2안) r치기 싫으면 역슬래시를 두번으로 넣으면 됨
# 3안) r치기 싫으면 역슬래시를 전부 슬래시로 바꿈
file_path = r"C:\Ai\Source\01_python\data\ch02.txt"
file_path = "C:\\Ai\\Source\\01_python\\data\\ch02.txt"
file_path = "C:/Ai/Source/01_python/data/ch02.txt"

In [16]:
file_stream = open(file_path, "w")
print("Hello, Python.","Hello, World", sep="\n") #화면 출력
print("Hello, Python.","Hello, World", sep="\n", file=file_stream) #파일 출력
file_stream.close() #스트림 객체를 close하지 않으면 저장 안 됨
# Shift+Tab+Tab 시 file 로 되어있는 게 파일스트림이다

Hello, Python.
Hello, World

### ※문자열 인덱싱

In [22]:
str_ = '0123456789'
str_
#함수값에 변수를 줘선 안되기 때문에 스트링 함수에 언더바를 추가하여 새로운 값을 생성.
#양수로 할 땐 왼쪽 첫 글자가 0이고 1234순, 음수로 할 땐 오른쪽 첫 글자가 -1이고 -2 -3 -4 순

'0123456789'

In [26]:
str_[0], str_[-2], str_[5]

('0', '8', '5')

In [28]:
str_[10] #데이터 내에 없는 인덱싱은 에러가 난다.

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [35]:
'''
문자열변수[from:to] : from부터 to 직전까지 추출
문자열변수[from:to:step] : from부터 to 직전까지 step씩 전진하면서 추출
    from 생략 시, 처음부터
    to 생략 시, 끝까지
    step 생략 시, 디폴트값은 1전진
'''
str_[0:3], str_[:3] #from 생략의 예

('012', '012')

In [36]:
str_[5:10], str_[5:] #to 생략의 예

('56789', '56789')

In [37]:
str_[-5:-1] #-5번째부터 -1번째 직전까지

'5678'

In [31]:
str_[2:6]

'2345'

In [32]:
str_[0:10:2]

'02468'

In [39]:
str_[9:0:-1] #9번째부터 0번째 직전까지 -1씩 전진. ****스텝변수(역전진)의 예

'987654321'

In [48]:
#quiz : 마지막글씨부터 처음글씨까지 거꾸로 출력 9876543210 ****스텝만 마이너스 주면 끝
#그냥 함수 하나 넣으면 마지막함수만 추출됨 **** print를 맨 앞에 넣어주면 여러 값 추출 가능
print (str_[::-1])
print (str_[9::-1])

9876543210
9876543210

## 3.3 논리형(True / False)
 파이썬에서는 논리형의 값 앞글자가 무조건 대문자여야 한다. true/false XXXX

In [53]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [54]:
int(True), int(False)

(1, 0)

In [55]:
bool(1), bool(0)

(True, False)

In [60]:
bool(-1000), bool(100), bool(""), bool("김길동"), bool(" ")

(True, True, False, True, True)

In [61]:
# False로 간주되는 것 : 0 , "" 빈 스트링 , [] 빈 리스트 , () 빈 튜플 {} 빈 딕셔너리
# False로 반별되는 경우를 제외하고는 모두 True
# 논리적으로, 0을 제외한 모든 숫자는 True로 친다.

In [65]:
score = (99, 100)
person = {'name':'홍길동', 'score':99}

In [67]:
# if 0:  if "": 아무것도 실행 안됨, 스페이스 넣으면 참이라 실행됨 if " ":   ****None이라 쳐도  False임
if []:
    print("True")
else:
    print("False")

False

In [73]:
name = input("이름은?")
if name: # name이 빈 스트링이 아니면이라는 뜻
    print ('당신 이름은', name)
else: #if가 참이 아니면 else로 떨어짐
    print('이름을 입력 안 하셨군요')
#if가 참이면 선제조건으로 대응, if가 거짓이면 후제조건으로 대응

이름은?율
당신 이름은 율

## 3.4 자료형 확인 및 형변환 함수
 - type(변수)
 - isinstance(변수, 타입) : 변수가 해당 타입인지 여부
 - float() : 실수형으로 변환
 - int() : 정수형으로 변환
 - str() : 문자형으로 변환
 - bool() : 논리형으로 변환

In [74]:
float(4), float("4.1"), int(4.1), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [80]:
# 에러나는 경우들
# int(" ")  int("")  int(None)  int("123.9")  int("9,000") **콤마로 인한 에러 **float로 바꿔도 에러남

# 4절. 포맷팅
- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터의 출력형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [84]:
name = "홍길동"
age = 30
print(name + '님의 나이는' + str(age) + '살입니다') #짜치는방식
print(name, '님의 나이는', age, '살입니다', sep='')

#sep=''은 공백없이 붙히겠다 GPT 참조

홍길동님의 나이는30살입니다
홍길동님의 나이는30살입니다

In [99]:
# %s:문자, %d:10진수 %f:실수
print("%s님의 나이는 %d살입니다"%(name, age)) #짜치는 방식1
# s는 스트링이니까 문자 d는 십진수 정수니까 숫자
print(f"{name}님의 나이는 {age}살입니다.") #짜치는 방식2

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다.

In [103]:
print("{} 님의 나이는 {}살입니다". format(name, age)) #깔끔한 방식
print("{0} 님의 나이는 {1}살입니다". format(name, age)) #깔끔한 방식
print("{1} 님의 나이는 {0}살입니다". format(age, name)) #깔끔한 방식 #데이터 순서 변경
print("{1:>5s} 님의 나이는 {0:3d}살입니다". format(age, name)) #깔끔한 방식
print("{1:<9s} 님의 나이는 {0:_>5d}살입니다". format(age, name)) #깔끔한 방식
# > < 방향에 따라 변형가능 >5s : 방향 / 칸 수 / 형식(문자,숫자)
#s를 넣어서 공백칸이 발생. d를 넣어서 ~대 숫자라는 값이 생김

홍길동 님의 나이는 30살입니다
홍길동 님의 나이는 30살입니다
홍길동 님의 나이는 30살입니다
  홍길동 님의 나이는  30살입니다
홍길동       님의 나이는 ___30살입니다

## 4.2 format() 
- "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}:",format(변수명)
    
    * 인덱스 : format 함수 안의 매개변수 순서
    * 정렬방식 : < (왼쪽 정렬), > (오른쪽 정렬), ^(가운데 정렬) 
    * 정수자릿수 : 출력할 자릿수
    * 문자자릿수 : 전체 출력될 자리수. 변수 중에 출력할 자리수
    * 타입 : d(1-진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
    * 공백대체문자는 정렬방식을 명시하여야 한다.

In [111]:
#기본적으로, 문자는 왼쪽정렬 숫자는 오른쪽정렬이 기본.
#변수보다 작은 자리수를 지정하면 자릿수 무시되고 다 출력 (정수 자릿수)
#값 안 넣으면 그냥 출력, 값 넣으면 넣은 값대로 출력 #중괄호 당 변수 1개
a = 12345
s = 'Hello'
print("[{}] [{:10}] [{:3}]".format(a, a, a)) 
print("[{}] [{:10}] [{:3}]".format(s, s, s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [113]:
# 정렬방식 : <. ^, >
a, b, c = 10,20,3
print("[{:>4}] [{:^4}] [{:<4}]".format(a, b, c))

[  10] [ 20 ] [3   ]

In [121]:
# 실수 자릿수 ex. 10.2f:전체10자리 소수점2자리
a = 10
f = 12.56
s = "Hello"
print ("[{:10}]".format(a)) #이건 에러 안나지만 print ("[{:$10}]".format(a)) 이건 에러남. **공백대체문자를 쓰려면 꼭 정렬값 인입*
print ("[{:$>10}] [{:10.2f}]".format(a, f)) 
print ("[{:$>6}] [{:6.2f}]".format(a, f)) #전체 6자리 중 소수점 2자리를 해라. 그래서 공간이 빔
print ("[{:$>4}] [{:6.2f}] [{:_>6.2}]".format(a, f, s)) #문자를 실수화 > 전체 6자리 중 2자리만 출력해라가 됨

[        10]
[$$$$$$$$10] [     12.56]
[$$$$10] [ 12.56]
[$$10] [ 12.56] [____He]

In [125]:
# 자릿수 앞에 +를 붙히면 양수의 경우도 부호출력
# 부호나 소수점도 자리수에 포함
a, b = 123, -123
print ("[{:+10}] [{:+10}] [{:10}]".format(a, b, a))
print ("[{:=10}] [{:=10}] [{:10}]".format(a, b, a))
print ("[{:=+10}] [{:=+10}] [{:10}]".format(a, b, a))

[      +123] [      -123] [       123]
[       123] [-      123] [       123]
[+      123] [-      123] [       123]

In [129]:
# 10진수, 8진수 , 16진수, 2진수 출력
a = 15 
print ("10진수 [{:4d}]".format(a))
print ("8진수 [{:4o}]".format(a))
print ("16진수 [{:4x}]".format(a))
print ("2진수 [{:4b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [133]:
a = 2.785
print("[{:+10.4f}]".format(a)) #f를 넣었기에, 전체 10자리 중 소수점은 4자리를 출력해라
print("[{:+10.4}]".format(a)) #전체 10자리 중에서 4자리만 출력해라

[   +2.7850]
[    +2.785]

In [140]:
a = 2.785
sign = "+"
width = 10
precision = 4
print("[{:{}{}.{}}]".format(a, sign, width, precision)) #가독성 떨어짐
print("[{:{sign}{width}.{precision}}]".format(a,
                                             sign=sign, width=width, precision=precision))

[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [146]:
#import datetime #datetime 모듈 (=파이썬 프로그램 파일) 전체를 메모리에 Load
from datetime import datetime # datetime모듈 안의 datetime함수만 메모리에 Load
thatday1 = datetime(2025, 9, 11) # 25년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0) #날짜랑 시간이 다 저장됨
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [159]:
# Y (년도4자리 y (년도2자리) m (월) d (일) p(am/pm) I (12시간) H(24시간) M(분) S(초)
# 대소문자 구분함
print("{:%Y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%Y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

2025년 09월 11일 00시 00분 00초
2025년 09월 11일 PM 02시 30분 00초

In [160]:
thatday1.strftime("%Y년 %m월 %d일 %H시 %M분 %S초") #제일 많이 쓰이는 형식

'2025년 09월 11일 00시 00분 00초'

In [161]:
thatday2.strftime("%Y년 %m월 %d일 %p %I시 %M분 %S초")

'2025년 09월 11일 PM 02시 30분 00초'

In [164]:
# 현재의 날짜와 시간
# datetime(2025,9,11,14,30) : 특정한 날짜와 시간
now = datetime.now() #지금
now - thatday1 #날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53683, microseconds=428303)

In [169]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M")) #가장 많이 쓰임 (ft.웹화면)

2025-09-15 PM 02:54
2025-09-15 PM 02:54

In [172]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 02:59'