In [376]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" Color="red">ch03. Data Structure </font></b>
- 리스트[80,20], 튜플(90,20), 딕셔너리{"name":"홍","score":99}, 셋{10,20} 

# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음 ex: 리스트["80",20]
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [4]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [1]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [5]:
print(fruits)
print(fruits[0]) #인덱싱을 이용한 읽기1 
print(fruits[3]) #인덱싱을 이용한 읽기2 0방부터 3방까지가 최대이기 때문에
# print(fruits[4])- 인덱싱은 없는 걸 가져오라 하면 에러가 난다

['banana', 'apple', 'orange', 'grape']
banana
grape

In [6]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [18]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료를 만들어 줌.
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by생략시 1
range(10) # 내부적으로 [0,1,2,3,4,5,6,7,8,9]를 안고 있다.

range(0, 10)

In [20]:
list(range(10)) #range 함수도 생각보다 많이 쓰인다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(10, -1, -2)) #10부터 -1까지 -2씩 단위로 반환해

[10, 8, 6, 4, 2, 0]

In [46]:
for i in [0,1,2,3,4,5,6,7,8,9]: # i 라는 변수에, 0,1,2,3,4,5,6,7,8,9를 각각 넣어서 실행 # 콜론(:)을무조건 넣어준다
    print(i) #꼭 탭 들여쓰기 # 이건 range 함수와 가장 많이 쓰이는 'for 반복문'이다

0
1
2
3
4
5
6
7
8
9

In [44]:
for i in range (-5, 2, 2): #까지가 2지만, 부터~까지이기 때문에 -5부터 1까지를 의미함
    print(i)

-5
-3
-1
1

In [56]:
#잘 안쓰는 방식
fruits = ['mango', 'apple', 'orange']
print("{}번째 과일은 {}".format(0, fruits[0])) #함수식으로 correct
print("{}번째 과일은 {}".format(1, fruits[0])) #일반인의 시선으로 correct
print("{}번째 과일은 {}".format(1, fruits[2])) #이렇게 지정하기 나름
#블럭처리하고 Ctrl + / 하면 주석처리 빠르게 가능

0번째 과일은 mango
1번째 과일은 mango
1번째 과일은 orange

In [61]:
#range를 활용한 방식 (변수 갯수 직접 입력) ****하드코딩이라 개발자들이 싫어하는 방식
fruits = ['mango', 'apple', 'orange']
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [78]:
#range를 활용한 쉬운 방식 + len함수 활용 = 최종 제일 많이 씀
fruits = ['mango', 'apple', 'orange']
for idx in range(len(fruits)): #idx는 index의 약자다
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [79]:
list(enumerate(fruits)) #보기쉽게 정렬시켜줌 대박이다

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [82]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]: #하드코딩방식
    print(f"{i}번째 과일은 {fruit}") #포맷팅 

#개선방식
for i, fruit in enumerate(fruits): #Easy방식
    print(f"{i}번째 과일은 {fruit}") #포맷팅

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [87]:
for item in fruits: #['mango','apple','orange'] 변수이름은 내 마음대로, item ~ x ~ whatever
    print(f"{item} 획득")

mango 획득
apple 획득
orange 획득

In [103]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [6,5], (4,2), {2,5}] #숫자, 논리, 문자, 리스트, 튜플, 딕셔너리까지 다 들어감 **리스트 안에 리스트까지 가능!!!
numbers
numbers[2], numbers[4][1] #인덱스는 0부터 시작하기에 0방부터해서 2번째 순서를 출력 #4와 1은 논리값이 더해져서 출력이 되는데 4와 5는 안됨. 이유확인 필요

('2', 5)

In [107]:
# 2차원 리스트
numbers = [1,2,3,4,5]
             # 0열/1열/2열/3열/4열               #가상의 엑셀을 만들어보면 쉽다
numbers_2d = [[1,2,3,4,5],        #0행
              [10,20,30,40,50],   #1행
              [1,3,5,7,9],        #2행
              [2,4,6,8,10]]       #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [109]:
#특정행, 특정열 데이터 인덱싱
numbers_2d[1][4] #그래서 1행(두번째 줄)의 4열 것(5번째 칸).

50

In [112]:
print(len(numbers_2d)) #numbers2d에는 데이터가 20개가 있는 게 아니라, 리스트로 묶어진 4개가 있는 것이다.

4

In [115]:
print(len(numbers_2d[0])) #이게 왜 나온건지 이유확인 필수

5

In [123]:
#중첩 for문
for row in numbers_2d:
    for item in row:
        print(item, end='\t') #end함수를 추가해 탭구분하여 하나씩 출력
    print() #아무것도 안 넣어도 이렇게 되는 이유확인 필수

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [140]:
for i in range(len(numbers_2d)):    # i:행
    for j in range(len(numbers_2d[i])):    # j:열
        print(f"{i}행{j}열:{numbers_2d[i][j]}", end="\t")
    print() #개행

0행0열:1	0행1열:2	0행2열:3	0행3열:4	0행4열:5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열:1	2행1열:3	2행2열:5	2행3열:7	2행4열:9
3행0열:2	3행1열:4	3행2열:6	3행3열:8	3행4열:10

In [139]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [142]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [147]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본정보 조회

In [156]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [157]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [160]:
# 최소값과 최대값
#numbers에서는 수들 중에서 최소값을 구함.
#무조건 0번째 수만 보고 계산해서 2행을 최소값으로 구한 것.
#2차원 list의 최소/최대값 : 부분리스트 중 첫 요소가 가장 작은 값/큰 값이 됨.
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [161]:
# list의 데이터가 문자일 경우, ASCII코드값으로 min과 max값 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [168]:
# 정렬하기
numbers = [1,12,3,4,5] #이 안에 문자값인 "12" 넣을 경우, sorted 당연히 적용불가
print("오름차 순 정렬 :", sorted(numbers))
print("내림차 순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용 시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차 순 정렬 : [1, 3, 4, 5, 12]
내림차 순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용 시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소 추가
- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `extend(리스트)` : 리스트를 요소별로 맨 뒤에 추가
- `insert(idx, 값)` : idx번째 인덱스 위치에 값 추가

In [172]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [173]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [174]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [179]:
numbers.append([5,6,7]) # 리스트 안 내용 그대로 추가 #계속 입력하면 계속 추가됨.
numbers

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [181]:
numbers = [1, 2, 3]
numbers.extend([5,6,7]) #내용만 그대로 들어감
numbers

[1, 2, 3, 5, 6, 7]

In [182]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [186]:
lst = ['a','b','c']
lst.append('hello')
lst

['a', 'b', 'c', 'hello']

In [185]:
lst = ['a','b','c']
lst.extend('hello') # extend는 리스트가 풀어져서 요소별로 들어감
lst

['a', 'b', 'c', 'h', 'e', 'l', 'l', 'o']

In [193]:
numbers = [1,2,3,4,5]
numbers.insert(2, 'poop') # (2)번째 인덱스에 'xx' 추가 # 기존 데이터 사이를 삐집고 들어가서 추가 > 차순 데이터가 밀림
numbers

[1, 2, 'poop', 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근 
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 **없으면 에러 남.
- 찾을데이터 in list변수 : 찾을데이터가 리스트변수의 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수를 반환

In [199]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3] #데이터는 7개다.
print(numbers.count([1,2,3]))
print(numbers.count(2)) # 이렇게 쳐도 되지만, 콤마형식으로 여러개 물어도 된다. 아래처럼

1
2

In [202]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3] #데이터는 7개다.
numbers.count([1,2,3]), numbers.count(6), numbers.count(2) #없는 걸 물어보면 0이라 대답함

(1, 0, 2)

In [204]:
print(2 in numbers) #numbers 안에 변수값이 존재하는지만 체크
print(5 in numbers) #없으니 False

True
False

In [216]:
numbers.index(2)
numbers.index(1) #없으면 에러 남. 그래서 함부로 썼다간 셧다운됨.

0

In [215]:
if 5 in numbers:  #이렇게 많이 씀. 가독성 좋아서
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [214]:
if numbers.count(5):  #이렇게 쳐도 됨.
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [360]:
def safe_index(lst, item): #여러줄일 경우 큰 따옴표 #def는 파이썬에서 함수를 만들기 위해 선언하는 단어다.
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환. 
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item) #있으면 인덱스를 리턴해라
    return -1 #없으면 -1로 반환

In [1]:
from flist import safe_index # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [9]:
numbers[5] # 벗어난 인덱스로 인덱싱 시 에러

IndexError: list index out of range

In [11]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
      * from 생략 시 처음, to 생략 시 끝, step 생략 시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수도 가능

2. <font color="red">**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [9]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[0::2]) #짝수 순서의 인덱스 출력. to생략
print(numbers[2:100]) #인덱스를 벗어난 슬라이싱 가능
print(numbers[:5:2]) #from을 생략한 것

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]
[1, 5, 10]

In [11]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
for data in numbers:
    print(data, end='\t')

1	3	5	9	10	12	13	18	19	20

In [12]:
# 모든 데이터 추출2
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [19]:
# 짝수 데이터 추출
for data in numbers:
    if data%2==0:
        print(data, end=" ") #데이터 출력하고 데이터마다끝에는 스페이스 하나 쳐라

10 12 18 20

In [17]:
# 짝수 데이터 추출2
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [20]:
#Quiz.1 numbers에서 10이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [47]:
#Quiz.2 fruits에서 과일의 글자가 5글자 이상이 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [49]:
#Quiz.2-1 fruits 리스트의 과일 글자수
fruits = ['orange', 'apple', 'mango', 'kiwi']
[len(data) for data in fruits]

[6, 5, 5, 4]

In [50]:
#Quiz.3 3이상인 요소들의 제곱을 추출 . A. 9 16 25
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [32]:
#Quiz.4 리스트 요소의 값의 2배를 추출. 2, 4, 6, 8, 10
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [66]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# 슬라이싱(step 부분 미포함) - 슬라이싱을 이용해 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx']
print(numbers, end=" ")

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# 슬라이싱(step 부분 포함)
numbers = [1]*10
print('수정 전 :', numbers)
numbers[0::2] = [9, 9, 9, 9, 9]
print('수정 후 :', numbers)

수정 전 : [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
수정 후 : [9, 1, 9, 1, 9, 1, 9, 1, 9, 1]

In [70]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제됨.
- pop(idx) : idx번째 요소가 반환되고 삭제됨.
- remove(data) : list안의 data가 삭제됨.
- del 리스트변수[idx] : idx번째 요소가 삭제됨.

In [72]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]

In [74]:
numbers = [1,2,3,4,5]
print("삭제한 n번째 데이터 :", numbers.pop(1))
print("삭제 후 numbers :", numbers)

삭제한 n번째 데이터 : 2
삭제 후 numbers : [1, 3, 4, 5]

In [88]:
numbers = [1,2,3,4,5]
print("데이터 중 1을 삭제")
numbers.remove(1) #데이터 안에 없는 값 넣으면 에러 남.
print("1 삭제 후 numbers :", numbers)

데이터 중 1을 삭제
1 삭제 후 numbers : [2, 3, 4, 5]

In [89]:
numbers = [1,2,3,4,5]
print("del numbers[1]")
del numbers[1] #1번째 데이터를 삭제하라
print(numbers)

del numbers[1]
[1, 3, 4, 5]

In [91]:
numbers = [1,2,3,4,5]
if 9 in numbers:
    numbers.remove(9) #있으면 지워 없으면 아래알럿 띄워
else:
    print("해당 데이터는 존재하지 않습니다.")

해당 데이터는 존재하지 않습니다.

In [94]:
numbers.clear() #리스트 내의 모든 데이터를 삭제
numbers

[]

## 1.8 정렬하기

In [101]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬 결과만 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬 결과만 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [103]:
numbers.sort() # Empty시, 기본은 오름차순으로 정렬됨. 
numbers

[0, 5, 6, 8, 9]

In [105]:
numbers.sort(reverse=True) #내림차순으로 정렬
numbers

[9, 8, 6, 5, 0]

In [106]:
numbers.reverse() #리스트를 역순으로 변경
# numbers = numbers[::-1] #위와 똑같은 지시임
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [1]:
# 스칼라 데이터의 복제
# 예시
# i = 10
# i = 'a' #이렇게 하면 새롭게 할당되고 이전 값인 10은 없어진다.

In [3]:
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
#이렇게 할당을 해 버리면, 원본데이터가 바뀌지 않는다.

원본i = 10, 복사본cp_i=10 / 원본주소=1505275281936, 복사본주소=1505275281936
원본i = 10, 복사본cp_i=99 / 원본주소=1505275281936, 복사본주소=1505275284784

In [12]:
# 데이터 구조의 복제같지만 '할당'이다
numbers = [5, 6, 1, 9]
new_numbers = numbers 
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
# 결국 '할당'의 개념이다.

원본 주소 : 1505355832128
복제본 주소 : 1505355832128
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 1505355832128
복제본 주소 : 1505355832128

In [26]:
# 할당되어버린 케이스2
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소 : 1505355833472
복제본 주소 : 1505355833472

In [27]:
# 리스트 복제(깊은 복사) **찐짜뽂쪠**
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() #numbers를 복제(깊은 복사) #여기서 선변환을 했기에 이후 계산이 가능
new_numbers.sort(reverse=True) #내림차순 정렬
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1505355399424
복제본 주소 : 1505355826432

In [28]:
numbers = [5, 6, 1, 9]
new_numbers = sorted(numbers) #sorted함수는 속도가 느리다
print("원본 :", numbers)
print("정렬본 :", new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [29]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()  #여기서 추가로 append pop remove등 적용가능
temp.sort()
print("정렬 전 :", city)
print("정렬 후 :", temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [31]:
temp.clear()
print("정렬 전 :", city)
print("정렬 후 :", temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용이라는 게 차이점. >> 수정이 필요없는 데이터에서 사용함. (리스트나 다른 것보다 속도가 빨라서 씀, 그래봤자 0.0001초 차)
- 수정이 불가하므로, 튜플에서는 데이터 수정/추가/삭제 불가. 복제는 되지만 수정할 수 없기에 무의미함.
- 제공되는 함수도 많지 않음
- ()이용해서 생성
- a, b = 10, 20 <<< 이렇게 해도 자동적으로 튜플생성됨.

In [39]:
# city = ('서울', '대전', '대구', '부산', '하남', '수원', '제주')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달됨.
city = '서울', '대전', '대구', '부산', '하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [40]:
", ".join(city) #매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능.

'서울, 대전, 대구, 부산, 하남'

In [42]:
from flist import safe_index
safe_index(city, '대전')

1

In [46]:
l = ['서울'] #요소가 하나 있는 리스트의 경우
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [54]:
city = ('서울') #요소가 1개인 튜플이라 하지 않음 -> 괄호가 자연적으로 사라지며 str로 인식되는 것.
print(type(city)) #스트링으로 잡히는 이유?
print(city)
print(len(city)) #문자이기 때문에 문자의 개수가 나옴

<class 'str'>
서울
2

In [57]:
city = ('서울',) #요소가 1개인 튜플 < 콤마(,)를 꼭 넣어야 함.
print(type(city)) 
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [59]:
city = ('서울', '하남') #요소가 2개인 튜플의 경우
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [5]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [6]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [7]:
sorted(numbers)

[1, 2, 3]

In [8]:
numbers.count(2)

1

In [10]:
numbers.index(3)

2

In [11]:
# numbers.index(4) >> 값 없으니 바로 에러
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없당께')

해당 데이터 없당께

In [18]:
from flist import safe_index
safe_index(numbers,4)

-1

In [13]:
# score = 99 (스칼라 데이터)
# lst = [99,88,77,100,89] <<< 리스트는 내부 데이터 수정 가능
# tup = (90,80,70,70) <<< 튜플은 한 번 선언한 걸 절대 수정할 수 없다.
# dic = {'name':'홍길동', 'score':100,  #딕셔너리에서는 인덱스가 없기 때문에, 데이터는 주어진 값이다. ex:) 100,서울,3 등. 
#       'add':'서울','학년':3}
# set_ = {90,80,70} #중복된 데이터 안 들어간 걸 'set'이라 칭함.

In [28]:
numbers = (1, 2, 3, 2) #2가 두개 있다면
numbers.index(2) #2가 몇 번째에 있어? 1번째에 ! #index(찾을데이터, 찾기 시작할 index=0)

1

In [34]:
numbers.index(2, 2)  #2번째부터 2가 있니?

3

In [35]:
numbers = (1, 4, 3, 2) 
if 4 in numbers[2:]:  #[2:]는 2번째부터 끝까지
    numbers.index(4,2) #2번째부터 4가 있니
else:
    print("없음")

없음

In [38]:
def safe_index(lst, item, start=0):
    """
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값:0) #3번째 변수가 추가업데이트 됨. 25.09.19
    """
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]: 
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     return -1 #없으면 -1을 반환.

In [50]:
safe_index(numbers, 4)

1

In [49]:
# 위의 if문을 '조건식'을 이용하여 한줄 코드로 변환
def diff(x, y):
    return x-y if x>y else y-x #if : if문이 참일 때 값, else : if문이 거짓일 때 값
#     if x>y:
#         return x-y
#     else:
#         return y-x
diff(-10,20)

30

In [53]:
numbers = (1, 2, 3)
print(numbers + numbers) #연결. 리스트 연결하듯 튜플도 연결 가능
print(3 * numbers) # 반복
print(numbers * 3) # 곱셈연산 위치 상관없음

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [57]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2==0) #if문 결과 짝수일때만 2로 거듭제곱

(4, 16, 36)

# 3절 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일무이한 값만 가질 수 있다. 키에 list는 사용 불가. 키에 tuple은 사용 가능
- 값은 다수 값과 중복 가능. 모든 데이터 타입 또한 가능
- 인덱스를 이용한 참조는 지원하지 않음.

In [61]:
{'name':'홍길동',
 'score':100,
 '학년':3,
 '학과':'컴공'} #딕셔너리 내, 키(좌측)는 수정불가, 값(우측)은 수정가능

{'name': '홍길동', 'score': 100, '학년': 3, '학과': '컴공'}

In [62]:
dic = {'name':'홍길동', 1:22, (1, 2):[1,2]} 
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [63]:
len(dic) #데이터 요소의 갯수 ***데이터는 3개 들어있다. 콤마로 기준되기 때문

3

In [65]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [77]:
print(my_favorite['fruit']) #리스트 활용해서 찾음

apple

In [71]:
# 변수[키] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [79]:
# print(my_favorite['people']) # 키 목록에 없는 데이터를 참조 시 에러 #이렇게 찾으면 다른 개발자들이 욕함
print(my_favorite.get('people')) # 없는 키를 get함수로 참조 시 None 반환이 디폴트값임. 
print(my_favorite.get('people', '-')) #None반환 값을 -로 변환

None
-

In [81]:
if my_favorite.get('people'):
    pass   #pass는 아무짓도 하지말라는 명령
else:
    print('없당께')

없당께

## 3.1 딕셔너리 item 수정, 추가, 삭제
- 자주 할 일이 없다.

In [102]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

# 한 item씩 추가    #수정 및 추가는 개념과 원리가 같은데?
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'society'
print('people과 subject 추가 후 :', my_favorite)
# 여러 item을 한 번에 추가 (update함수) #있으면 수정 없으면 추가
my_favorite.update({'subject':'Math', 'major':'Ai'})
print('여러가지 추가 후 :', my_favorite) #그래서 subject 기존값인 'society'가 'Math'로 대체됨.

people과 subject 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'society'}
여러가지 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'Math', 'major': 'Ai'}

In [108]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

# 한 item씩 수정
my_favorite['fruit'] = 'cherry'
print('cherry로 수정 후 :', my_favorite)
my_favorite['number'] = '7'
print('최애 숫자 수정 후 :', my_favorite)
# 여러 item을 한 번에 수정 (update함수)
# my_favorite.update({'fruit':'kiwi', 'sport':'football'}) #딕셔너리 활용한 올드한 방식
my_favorite.update(fruit='kiwi', sport='football') #이지하고 간략한 수정
print('과일과 스포츠 수정 후 :',my_favorite)

cherry로 수정 후 : {'fruit': 'cherry', 'number': 12, 'sport': 'yoga'}
최애 숫자 수정 후 : {'fruit': 'cherry', 'number': '7', 'sport': 'yoga'}
과일과 스포츠 수정 후 : {'fruit': 'kiwi', 'number': '7', 'sport': 'football'}

In [123]:
my_favorite = {'fruit':'apple', 'subject':'Math', 'number':12, 'sport':'yoga', 'major':'Ai'}

#item 제거
# del my_favorite['fruit']  #키값 자체를 제거 #제거한 걸 또 제거하라 하면 에러가 남.**올드하고 에러셧다운 위험
del my_favorite['subject'] 
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키 없당께')
    
    print('del이용한 제거 후 :', my_favorite) #subject가 삭제됨

#item 제거2
print('제거한 데이터 :', my_favorite.pop('major')) #major키 값을 반환하고 제거
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

subject 키 없당께
del이용한 제거 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'major': 'Ai'}
제거한 데이터 : Ai
major 키가 존재하지 않습니다
{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

## 3.2 출력하기

In [128]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [139]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end='\t') #역슬탭을 주는데 큰따옴표도 된다???
    # print("{}번째 : {}".format(idx, my_tuple[idx]), end="\t") #f스트링 싫으면 포맷팅
    # print(idx,"번째 :", my_tuple[idx], sep='', end='\t') #f치환 포맷팅 둘다 싫으면 이렇게, 근데 개거지같음
print() # 개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [347]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}
print(my_dic["age"])

30

In [143]:
for key in my_dic: #없어보이는 코딩 개비추
    print("{} : {}".format(key, my_dic.get(key)))

name : 홍길동
age : 30
tel : 010-9999-9999

In [144]:
for key in my_dic: #없어보이는 코딩 개비추2
    print("{} : {}".format(key, my_dic[key]), end="\t")

name : 홍길동	age : 30	tel : 010-9999-9999

In [145]:
my_dic.keys() #키 목록만 뽑아줌 # 쓸일 없음

dict_keys(['name', 'age', 'tel'])

In [146]:
my_dic.values() #값 목록만 뽑아줌 # 쓸일 없음

dict_values(['홍길동', 30, '010-9999-9999'])

In [147]:
my_dic.items() #키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [148]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [151]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [157]:
list(enumerate(my_dic.items())) #list로 감싸고 이뉴머레이트로 또 감쌌음. 임의로 순번이 매겨짐. 0방엔 순번 1방엔 키와밸류 이런 순으로 됨.

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [160]:
for no, (key, value) in enumerate(my_dic.items()): #no는 number를 의미함
    print("{}.{} : {}".format(no+1, key, value)) #0번 순번이 보기 힘드니 1을 더함

1.name : 홍길동
2.age : 30
3.tel : 010-9999-9999

## 3.3 in 연산자

In [161]:
# tuple, list
t = (10, 20, 30)
30 in t #list, tuple, set에서의 in연산자 : 요소(데이터, item)가 있는 여부를 반환

True

In [162]:
# dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic #dictionary에서의 in연산자 : key가 있는지 여부를 반환

False

In [163]:
'홍길동'in dic.values() #'홍길동'이란 값이 '값 데이터 목록'안에 있는지 물어봐서 True임.

True

## 3.4 복제하기

In [179]:
# 복제(깊은 복사)
my_favorite = {'fruit' : 'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 2528645144128
new_favorite 주소 : 2528649843200

In [180]:
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = "홍길동"
print('원본 :', my_favorite)
print('복제본 :', new_favorite)

원본 : {'fruit': 'apple', 'number': 12}
복제본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
- 기본적인 set은 '집합'을 의미하고 파이썬에서 'set'은 "중복을 허용하지 않는 집합"이다 (순서X) #인덱스를 순서라고도 함.
- {}나 set()함수를 이용해서 셋 생성 ex. set([1, 2, 1]), set({'name':'홍길동'})
- 나열 데이터를 셋 안에 넣으면 알아서 바뀐다.
- 추가 시 사용가능 함수 : add(), update()
- 삭제 시 사용가능 함수 : remove()
- 자연어 처리 할 때에 쓰이고, 평상시 잘 쓰진 않음. ex:) 워드클라우드 제작 시 특정단어 뺄 때 사용. 
- 집합연산자 : &교집합, |합집합, -차집합  **교집합과 합집합이 우선순위가 제일 높다

In [183]:
st = {'name':'홍길동', 'age':30} #키와 값이 다 있어서 셋이 아님
se = {'홍길동', 30} #값만 있기에 이게 셋임

In [184]:
fruits = ['babnana', 'orange', 'apple', 'apple']
fruits #일반적으로 리스트로 처리하니 데이터를 다 출력함.

['babnana', 'orange', 'apple', 'apple']

In [185]:
fruits = {'babnana', 'orange', 'apple', 'apple'}
fruits #셋으로 처리하니 중복인 apple을 1개만 반환.

{'apple', 'babnana', 'orange'}

In [187]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용.
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 4.1 추가하기
- add() : 기본자료형 데이터, 튜플 데이터 하나 추가. ** lst, dic 안됨. set유형은 add()함수 사용불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가.

In [193]:
s = {1, 2, 3}

#add 예시
s.add(4)
s.add('b')
s.add(False) #True는 이미 결과값들이 True이기에 안들어가고 False만 들어감.
s.add('똥')
s.add((6,7))
print("add() 후 :", s) #순서없이 막 들어간다. >> 셋에는 인덱스(순서)가 없다

add() 후 : {False, 1, 2, 3, 4, (6, 7), 'b', '똥'}

In [201]:
# 1이 set에 있는 상태에서 참 결과값 추가
s = {1, 2, 3, 1, 1}
s.add(1) #1이 이미 있기에 안들어감.
print("add() 후 :", s)

add() 후 : {1, 2, 3}

In [204]:
# 1이 set에 있는 상태에서 True 추가
s = {1, 2, 3, 1, 1}
s.add(True) #이 안에 True를 넣어도, 비트를 보기에 True를 출력하지 않음.
print("add() 후 :", s)

add() 후 : {1, 2, 3}

In [206]:
# 0이 set에 있는 상태에서 False 추가
s = {False, 1, 2}
s.add(0)
print("1 add 후 :", s) #False는 비트값으로 곧 0이기에 변화 없는 것.

1 add 후 : {False, 1, 2}

In [196]:
s = {1, 2, 3}

#update 예시
s.update([4,5,6]) 
s.update( (4,5,6) ) 
s.update({4,5,6}) #결과값 참조. 리스트,튜플,딕셔너리 써도 데이터가 하나씩 들어감.
print("update() 후 :", s)

update() 후 : {1, 2, 3, 4, 5, 6}

In [197]:
s = {1, 2, 3}
s.update({'name':'홍', 'age':20})
print("update() 후 :", s) #value 안들어가고 key만 들어감

update() 후 : {1, 2, 3, 'name', 'age'}

## 4.2 제거하기

In [207]:
s = {1, 2, 3, 1, 1}
s.remove(2)
s

{1, 3}

In [211]:
#s.remove(5) 없는 요소를 삭제할 경우 에러. 에러 위험 있는 건 무조건 if문
if 5 in s:
    s.remove(5)
else:
    print("없당께")

없당께

## 4.3 집합연산자
    &(교집합), |(합집합), -(차집합)

In [213]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print("s1 = {}".format(s1))
print("s2 = {}".format(s2))
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)
print("s2-s1 =", s2-s1)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [216]:
names = {"길동", "길숙", "길자"} #입력 순서대로 나오지 않네!? 사람들 다 다르게 나옴. 코드값에 대한 크기차이도 아님. 진짜 순서랜덤
for name in names:
    print(name)

길숙
길자
길동

# 5절 Enumerate 이뉴머레이트 '열거'
- 반복자. 반복문을 처리할 때 사용할 순서객체를 강제로 생성하는 함수. 순서가 없어도 만들어줌
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [218]:
list(enumerate(names))

[(0, '길숙'), (1, '길자'), (2, '길동')]

In [219]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name)) #밸류값에 넘버링

1. 길숙
2. 길자
3. 길동

In [220]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [229]:
#예시1 잘 안씀11
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요". format(idx+1,
                                              names[idx],
                                              tels[idx],
                                              adds[idx])) #콤마만 다음 줄에 올 수 있음

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [230]:
#역슬래시 추가 예시(잡다한 방법) 잘 안씀22
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, \
    {} 살아요". format(idx+1,
                                              names[idx],
                                              tels[idx],
                                              adds[idx])) #콤마들을 그대로 우측으로 열거해도 됨. #위처럼 역슬래시 치고 다음줄에 기입해도 가능

1. 길동님의 연락처는 02-999-9999이고,     서울 살아요
2. 길자님의 연락처는 02-888-8888이고,     판교 살아요
3. 길숙님의 연락처는 02-777-7777이고,     하남 살아요

In [232]:
list(zip(names, tels, adds))    #쥑인다 zip코드 ㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷ

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [239]:
for name, tel, add in zip(names, tels, adds):
    print("{}님의 연락처는 {}이고, {} 살아요".format(name, tel, add)) #제일 많이 씀

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [240]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name}님의 연락처는 {tel}이고, {add} 살아요")

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [242]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [245]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f"{idx}. {name}님의 연락처는 {tel}이고, {add} 살아요")

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [247]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx, name, tel, add)) #실무에서는 데이터 길이 때문에 f치환 많이 씀

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [260]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

#예시
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members #프린트 넣은 들여쓰기와 없이 그냥 친 것의 결과값이 다르다 왜인가!? 프린트 없이 변수값만 쓰는 게 이쁘게 써짐(?)

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [276]:
members = [] #랭크값 주기
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1,'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절 연습문제
## 실습형 연습문제

In [297]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [298]:
#quiz.1 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print("숫자 100을 맨 뒤에 추가하시오 :", numbers)

숫자 100을 맨 뒤에 추가하시오 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [354]:
#quiz.2다음 리스트를 numbers 리스트 맨 뒤에 추가하세요 data = [200, 300, 400, 500]
data = [200, 300, 400, 500]
numbers.extend(data) #numbers +=data 이것도 된다!?
print("리스트 추가 :", numbers)

리스트 추가 : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 200, 300, 400, 500]

In [306]:
#quiz.3 처음 다섯 개 숫자만 출력하세요
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:5])

[1, 2, 3, 4, 5]

In [307]:
#quiz.4 리스트에서 짝수 번째 데이터만 출력하세요
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [361]:
#quiz.5 짝수번째 데이터를 모두 0 으로 바꾸세요
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[::2] = [0] * len(numbers[::2])  #이게 최고의 답이다. 오 대박 ! 곱하기로만 알았다...
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [366]:
#quiz.5변형
numbers = [1,2,3,4,5,6,7,8,9,10]
print('5번 출력만 :',
      [numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))])

5번 출력만 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [314]:
#quiz.6 데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.reverse()
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [372]:
#quiz.7 address 값을 출력하세요
member_info = {"name":"홍길동", "age":20, "add":"서울시 마포구", "score":90}
print(member_info.get("add"))

서울시 마포구

In [348]:
#quiz.8 score 를 출력하고 member_info 딕셔너리에서 삭제하세요
member_info = {"name":"홍길동", "age":20, "add":"서울시 마포구", "score":90}
print(member_info["score"])
del member_info['score'] 
print('제거 후 :', member_info)

90
제거 후 : {'name': '홍길동', 'age': 20, 'add': '서울시 마포구'}

In [352]:
#quiz.9 address 를 서울시 서대문구 로 변경하세요
member_info = {"name":"홍길동", "age":20, "add":"서울시 마포구", "score":90}
member_info['add'] = '서울시 서대문구'
print('주소 수정 후 :', member_info)

주소 수정 후 : {'name': '홍길동', 'age': 20, 'add': '서울시 서대문구', 'score': 90}

In [373]:
#quiz.10 member_info 딕셔너리 데이터의 값을 리스트로 출력하세요 '값'은 답이다. 키가 항목이고 !!! 그걸 까먹다니 !
member_info = {"name":"홍길동", "age":20, "add":"서울시 마포구", "score":90}
member_info.values()

dict_values(['홍길동', 20, '서울시 마포구', 90])

## 서술형 연습문제

In [374]:
#ch3 29페이지 참조
#서술형 Quiz.1 다음 코드를 실행했을 때 출력되는 것은 ? Banana Orange >>> 5자 이상인 데이터 출력 (O)
#서술형 Quiz.2 다음 코드와 실행결과가 잘못 짝지어진 것은? **4번!!!!
#서술형 Quiz.3 다음 구문에 의해 출력되는 것은? 1개 >>> 3번째 데이터의 렌함수로 인한 글자개수?  (O)
#서술형 Quiz.4 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은? extend >> 하나씩 쪼개서 넣어야 하기에 (O)
#서술형 Quiz.5 다음 구문을 실행할 때 결과는? **이해안됨
#서술형 Quiz.6 다음 구문을 실행할 때 결과는? **이해안됨
#서술형 Quiz.7 다음 구문을 실행할 때 결과는 **이해안됨
#서술형 Quiz.8 다음 데이터에서 10 을 출력할 수 없는 구문은? 1번 리스트는 인덱스로 접근안됨 **이해안됨
#서술형 Quiz.9 다음 프로그램의 결과를 출력하시오. 처음 생각이 맞았다. 그대로 부여 해서 apple banana orange
#서술형 Quiz.10 다음 프로그램의 결과를 출력하시오 3 (O)
#서술형 Quiz.11 파이썬에서 함수를 만들기 위해 선언하는 단어는? 까먹음 (O)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
    style="float:left"
    width="500">