In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" Color="red">ch05. Function </font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것이 '함수'
  > 여러 함수를 묶어둔 건 '라이브러리'
- 오버로딩 불가
    - 같은 이름의 함수는 덮어쓴다
- 함수 정의
    - IT업계에서는 대괄호는 생략가능한 부분이구나라고 인지함
    - 변수명 쓰는 것과 함수명 쓰는 문법은 같다
``` 
def 함수명 ([매개변수, 매개변수2, ..]):   
    명령어1
    명령어2.....
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def my_message(x, msg): #msg를 x번 출력하는 함수 #이렇게 생성후 my_me만 치고 tab하면 자동완성됨.
    for i in range(x):
        print(i, msg)  #심볼 테이블이 뭔지? 물어보자 GPT

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
# 혹여나, def my_msg() 이렇게 my_msg라는 새로운 함수를 만들려고 하면, my message는 그대로 있고 my msg에 덮어 씌운다

In [6]:
type(my_msg), type(my_message)

(function, function)

In [7]:
print('Hello') # 파이썬 내장 함수 : import 하지 않고 사용할 수 있는, 이미 만들어져있는 함수 #ppt 48-52p 참조
# print = 5
# print('Hello') << 이렇게 해버리면 무조건 에러남 
# del print #<< 그래서 이렇게 지워야 함. 그리고 print 씌운데서부터 커널 재시작 필수

Hello

In [8]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
# my_message = 5 #함수였는데 int값으로 바뀌어버림
# my_msg(2, 'Hello') #my_msg는 정상구동됨.
# my_message(2, 'Hello') # int값으로 변환됐기에, 에러남
# del my_message  #에러 처리를 위해 함수 날림. my_msg는 정상구동.
# # 이로 인해 my_messgae는 삭제됨. > 즉, 사용자 정의함수, 라이브러리 함수는 del하면 사용 불가 > 파이썬 내장함수만 재사용 가능

In [10]:
# 함수 중복 정의 불가(=오버로딩 불가)의 예시
# 두번째 아래 함수로 덮어씌워지고 첫번째 함수는 없어짐.
# 이런 경우는 C++에서만 가능함
# 첫번째 꺼로 실행해도, cnt값을 넣으라고 에러남.
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end="\t")
        print('Hello, World')

In [11]:
my_hello(1)

Hello, Python	Hello, World

In [12]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [13]:
my_hello

In [14]:
__name__

'__main__'

In [15]:
#실무에서 진짜 많이함. 필수습득

if __name__ == '__main__':  #참일 때만 수행해 > 수행됨.
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
import ch05 #ch05모듈이 해석되서 메모리 로드

In [17]:
ch05.my_hello(3) #py파일인 모듈의 이름.함수 <<이 형식으로 써야 가능.

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [18]:
from ch05 import my_hello # ch05모듈 안의 my_hello 함수 메모리만 로드
my_hello(2)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [19]:
def my_function():
    """
    독스트링은 함수의 설명서를 달아주는 역할 (shift+tab+tab 시에 나오게 할 수 있음)
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    주석으로 할 경우 정보 확인(shift+tab+tab)이 불가능
    명령어 인입 전 함수명 바로 아래에 위치시킴
    '''홑따옴표로도 가능하다'''
    """

In [20]:
#독스트링 확인 방법 2가지
my_function()  #괄호 내에서 shift+tab+tab
print(my_function.__doc__)

    독스트링은 함수의 설명서를 달아주는 역할 (shift+tab+tab 시에 나오게 할 수 있음)
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    주석으로 할 경우 정보 확인(shift+tab+tab)이 불가능
    명령어 인입 전 함수명 바로 아래에 위치시킴
    '''홑따옴표로도 가능하다'''

In [21]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8 - 10 미만
    ex. n=100 : 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89 - 100 미만
        논리 : 0+1=1이라 0,1,1로 정렬 그 다음 1+1=2라서 0,1,1,2가 됨
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반대말은 '전역변수')
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [22]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [23]:
# a, b #에러남. 지역변수는 함수 내에서만 사용가능

## 1.3 지역변수(local var)와 전역변수(global var)

In [24]:
global_var = 100 #global_var = 100 은 함수 밖에 선언된 변수. 프로그램 전체에서 접근 가능. 함수 안에서도 읽을 수 있음.
def func1():
    print('함수안 :', global_var) #함수 안에서 global_var 값을 출력하는 것은 문제가 없어. 하지만 함수 안에서 전역변수를 수정하려면 global 키워드를 써야 해.
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [25]:
def func2():
    local_var = 200 # 지역변수 (함수 안에서 선언되고, 함수 안에서만 사용되는 변수)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [26]:
# print('함수 밖에서 지역변수 :', local_var) 로컬바가 없으니까 당연히 에러남

In [27]:
#예시
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수와 전역변수의 심볼테이블은 분리가 되어있기 때문에 상관없음
    print('g_var :', g_var) #이건 지역변수 출력값임
func3() #지역변수 출력했기에 지역변수값은 사라짐
print('g_var :', g_var) #전역변수 출력함

g_var : 200
g_var : 100

In [28]:
# #예시2 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐(지역vs전역)
# g_var = 100 #전역변수
# def func3():
#     print('g_var :', g_var) #지역변수값을 넣기 전에 프린트하라 했기 때문에 에러남
#     g_var = 200 #지역변수
# func3()
# print('g_var :', g_var)

In [29]:
#예시3 렉시컬 특성에 따라 변수에 영역이 지정된 상황
g_var = 100 #전역변수
def func3():
    global g_var # 선언 "함수 내에서의 g_var는 전역변수를 쓰겠다" > 전역변수를 끌어옴
    print('전역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200할당하고 싶다!?
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출 (call by value)
- 함수에 인수로 전달되는 변수(매개변수)가 스칼라변수(문자, 숫자, 논리형)일 때
    - 스칼라 변수는 새로운 변수가 오면 기존 거 지우고 새로운 거로 갈아탄다? GPT 확인 필수

In [30]:
foo = 'a' #전역변수
id(foo) #위치

2403395987248

In [31]:
def func1(f): # 매개변수는 무조건 지역변수다.
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3 
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

# foo = 'a' : 'a'라는 문자열 객체를 만들고 foo는 그 객체를 참조(가리킴)
# func1(foo)
# → 함수 호출 시 foo가 가리키는 객체의 **참조값(주소)**이 f에 값으로 복사됨
# → f는 처음엔 foo와 같은 객체를 가리킴 (같은 id)

# f = f * 3 : 'aaa'라는 새로운 문자열 객체가 만들어짐
# → f는 이제 그 새 객체를 가리킴 (id가 다름)
# → foo는 그대로 'a'

# f는 foo의 객체 참조를 복사받은 것
# 즉, foo와 f는 같은 객체를 참조하지만,
# f가 새로운 객체를 가리키게 되면 둘은 연결이 끊김

# 이건 **"값에 의한 호출(call by value)"**보다
# 더 정확히는 "참조의 값을 전달"하는 방식

Before : a 의 주소는  2403395987248
After : aaa 의 주소는  2403474426736

In [32]:
print('foo = ', foo, '의 주소는', id(foo))

foo =  a 의 주소는 2403395987248

In [33]:
# 값에 의한 호출이 뭐라는건지 이해가 잘 안간다. 뭔소리여 !!!

## 1.5 참조에 의한 호출 (call by reference)
- 함수에 인수로 전달되는 변수가 리스트,튜플,셋,딕셔너리,기타 객체일 경우

In [34]:
L = [1, 2, 3, 4, 5] # L을 매개변수로 쓸 예정
id(L)

2403474424192

In [35]:
def func2(f): # 매개변수는 지역변수 
    print('before :', f, '의 주소는 ', id(f))
    f.append(6)
    print('After :', f, '의 주소는 ', id(f))
func2(L) #l과f 모두 윗 셀의 리스트를 가리킴 > 리스트에 어펜드로 6추가 시킨 후 주소 물어봄

# func2라는 함수값을 이용하는 거고, 그 함수값에 매개변수인 L로 넣으니 당연히 이런 결과가 나오는거지.

before : [1, 2, 3, 4, 5] 의 주소는  2403474424192
After : [1, 2, 3, 4, 5, 6] 의 주소는  2403474424192

In [36]:
print('L', L, '의 주소는', id(L)) #L을 카피 받은 f로 인해 L의 주소가 바뀌지도 않았다.

L [1, 2, 3, 4, 5, 6] 의 주소는 2403474424192

# 2절. 함수의 실행 결과를 반환하는 return

In [37]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8 - 10 미만
    ex. n=100 : 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89 - 100 미만
        논리 : 0+1=1이라 0,1,1로 정렬 그 다음 1+1=2라서 0,1,1,2가 됨
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반대말은 '전역변수')
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
def fibonacci(n):  #1.2절에서 만든 피보나치 함수에 덮어씌워져서 기존 함수는 이것으로 대체되어 사라짐..
    "n미만의 피보나치 수열을 리스트로 return"
    result = [] # 피보나치 수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 출력대신 비어진 리스트에 계속 append 해서 채워지는 개념
        a, b = b, a+b
    return result

In [38]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [39]:
x = fibonacci_print(10)
print(x)
print(type(x))

# 함수 내부에서 print()는 출력만 할 뿐, 값 반환하지 않음.
# 함수 fibonacci와 달리 fibonacci_print는 return이 없기에, 이런 경우에서 파이썬은 함수 끝에서 자동으로 None을 반환함.
# 즉, fibonacci(10)을 실행 > 숫자들을 출력함 > but, 반환값이 없음 > 그래서 'None'으로 반환됨
# 따라서 print(x) 하면 None, print(type(x)) 하면 <class 'NoneType'>이 되는 것.

0 1 1 2 3 5 8
None
<class 'NoneType'>

## 여러개 값 return
- 사실 상, 여러 개 값 return이 아닌 "여러 개 값을 갖는 튜플'이라는 1개의 데이터로 return"이 되는거다.

In [40]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return (b, a) #return (b, a)

In [41]:
# x, y = 5, 10 # 많이 쓰는 방식
x = 5; y = 10 #1줄에 두개의 명령어 칠 때만 세미콜론(;)사용. 1 줄에 한 개의 명령어면 필요 없음. 잘 안씀
print('함수 실행 전 x, y :', x, y)
x, y = swap(x, y) #스왑 변환
print('함수 실행 후 x, y :', x, y) #진짜 바뀜

함수 실행 전 x, y : 5 10
함수 실행 후 x, y : 10 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [42]:
def make_url(ip, port=80): #순서인수 > 기본값을 갖는 매개변수 순으로 만들 것. #기본값은 3가지를 가질 수 있으며, 상수(80)가 올 수도 변수(L)가 올 수도 있다. (ex. port=L)
# def make_url(port, ip): 이렇게 모든 변수가 기본값을 안 가지면 순서 상관 없음
# def make_url(port=80, ip): #ERROR : 기본값 갖는 매개변수가 작은데도 앞에 있기에
    return "http://{}:{}".format(ip, port)

In [43]:
print(make_url("localhost", 8090)) #포맷대로 반환
print(make_url("www.naver.com")) #두번째 매개변수 안 넣었기에 기본값으로 반환
print(make_url(port=9090, ip="localhost")) #순서 바꿨지만 포맷대로 정렬되어 반환
# print(make_url(port=9090) ip값을 안 넣음 > ip값은 기본값이 없기 때문에 에러남?

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

## 3.2 기본변수를 기본값으로 갖는 매개변수
 - 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
 - 기본변수가 리스트, 셋, 딕셔너리, 튜플, 기타 객체일 때

In [44]:
#예시1
i = 80 
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점 기준으로 기본값이 셋팅됨.
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [45]:
i = 90 #스칼라변수라서 기본값이 80에서 바뀌지 않음
make_url("localhost")

'http://localhost:80'

In [46]:
#예시2
list_ = [] #이게 기본변수라는 가정
# 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_): #여기서 L은 매개변수니까 지역변수다.
    L.append(a)
    return L
print(func3(10)) #값을 1개만 넣었기 때문에 순서 상, 첫번째인 a 에만 10부여.

[10]

In [47]:
print(func3(20)) #return 되는 L값이 지속되기에 계속 추가가 됨

[10, 20]

In [48]:
print("list_=", list_)

list_= [10, 20]

In [49]:
print(func3(50)) #return 되는 L값이 지속되기에 계속 추가가 됨

[10, 20, 50]

In [50]:
print(func3(80)) #return 되는 L값이 지속되기에 계속 추가가 됨

[10, 20, 50, 80]

In [51]:
# 실행할 때마다 L을 공유하는 게 싫으면
def func3(a, L=None): #기본값인 L이 변수가 아닌 상수인 상태로 가정
    if L is None:
        L = []
    L.append(a) 
    return L #return은 return값을 내보내라는 의미
print(func3(10))
print(func3(10, [1,2,3])) #L이 None이 아닌 1,2,3 리스트이기에 그 뒤에 append.10이 되는거라 1,2,3,10이 나오는 것

[10]
[1, 2, 3, 10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달하는 방식
- 키워드인수 : 인수의 이름을 명시하여 전달하는 방식
- 함수 정의 시 순서인수와 키워드인수가 같이 올 때는, 꼭 ! 순서인수 > 키워드인수 순으로.
    > ERROR ex:) def func3(L=None, a):

In [52]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a) 
    return L

In [53]:
lst = []
print(func3(10, lst))     #순서인수
print(func3(L=lst, a=20)) #키워드인수 a가 앞에 오든 L이 앞에 오든 상관 X

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [54]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c): #이렇게 되면, 뒤에 만든 게 앞에 함수를 덮어씌우기에, 중복정의가 안됨 > 밑에서도 기존처럼 값을 2개 넣으면 ERROR
    return a+b+c #이럴 때 처럼, 매개 변수가 2개일지 3개일지,개수를 예측할 수 없을 때 '가변인수'를 사용함

In [55]:
add(3, 5, 7)

15

In [56]:
# args 앞에 * : "args가 튜플로 패킹해서 전달받는다"는 의미
def add(*args):
    print('args =', args)

In [57]:
add()
add(1)
add(1, 4, 5, 6, 9, 141)

args = ()
args = (1,)
args = (1, 4, 5, 6, 9, 141)

In [58]:
def add(*args):
    """전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return"""
    sum = 0 # 누적변수
    for num in args: 
        sum += num # sum = sum+num # sum 값에 누적값 들어감
    return sum #sum값으로 반환

In [59]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)) # 매개변수 갯수 제한을 돕기 위한 함수일 뿐이다.

0
1
4
55

In [60]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-DBMS'

In [61]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep): #맨 마지막에 있는 것만 'sep'이라는 변수로 바꿔 #sep은 separate로 값을 지정한 것으로 나누라는 것 #좋은방법 아님
    return sep.join(subject)

In [62]:
# ERROR 예시 : 맨 마지막에 있는 아이만 sep용으로 넣고, 나머지는 튜플로 만들어서 subject에 들어가도록
concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', '-') # ERROR : 갯수제한이 없기에 sep값을 넣었어도 모든 게 다 subject로 들어가려함

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [ ]:
# 해결책1 : sep을 키워드인수로 지정해버림
concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', sep='-')

In [ ]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS'))
print(concat('Python', 'Web', 'JS', 'DBMS', sep='-')) # sep이 물결인 게 싫어서 꼬장부릴 때

In [ ]:
# 해결책3 : sep을 순서인수로 앞으로 함수를 수정 !!!추천
def concat(sep, *subject):
    return sep.join(subject)

In [ ]:
concat('~', 'python', 'web', 'DB', 'MLDL') #이러면 절대 에러안남. 맨 앞에 있기 때문에

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리
    > make_url(ip="localhost", port=8080) -----> 여기서 port=8080 이 키워드 인수

In [72]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args. items():
        print("{}:{}".format(key, value))

In [73]:
func5(name='홍길동',
      age=30,
      tel='010-9999-9999',
      address='서울시 관악구') #Enter쳐서 줄 바꿔서 넣어도 상관 X

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울시 관악구'}
<class 'dict'>
name:홍길동
age:30
tel:010-9999-9999
address:서울시 관악구

In [74]:
#특정 Value값이 없다면 대체로 나올 것 feat. if not 활용
def func5(**args):
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address키가 없으면 True
        args['address'] = 'None'
    for key, value in args. items():
        print("{}:{}".format(key, value))

In [75]:
func5(name='홍길동',
      age=30,
      tel='010-9999-9999',) #Enter쳐서 줄 바꿔서 넣어도 상관 X

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
name:홍길동
age:30
tel:010-9999-9999
address:None

In [76]:
#특정 Value값이 없다면 대체로 나올 것 feat. update 활용
def func5(**args):
    print(args)
    print(type(args))
    if 'tel' not in args: # args에 address키가 없으면 True
        args.update(tel='None')
    for key, value in args. items():
        print("{}:{}".format(key, value))

In [77]:
func5(name='홍길동', age=30, address='서울 관악구')

{'name': '홍길동', 'age': 30, 'address': '서울 관악구'}
<class 'dict'>
name:홍길동
age:30
address:서울 관악구
tel:None

## 3.6 함수 정의 시 매개변수 순서 ★★★★★
- 순서인수 > 튜플인수(*) > 키워드 인수(기본값) > 딕셔너리인수(**) !!!!!!!!!!누가 더 크다 이거임

In [78]:
#올바른 순서 사용법의 예시 (순서 : 순서인수 > 튜플인수 > 딕셔너리인수)
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [79]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b','True', name='홍', age=30, address='신림') #10=a 20=b 1~9=c lasts=d

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'True')
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [80]:
#올바른 순서 사용법의 예시 (순서 : 순서인수 > 튜플인수 > 키워드인수(기본값) > 딕셔너리인수)
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값 10) e = ', e)
    print('딕셔너리인수 f = ', f)

In [81]:
#자료를 충분히 넣지 않은경우의 예
func7(10, 20, 30, e=100) #나머지는 빈 튜플 + 빈 딕셔너리로 반환 # 키워드인수 공백 시, e의 기본값인 (e=10)으로 반환.

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {}

In [82]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30,)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시, 매개변수 앞에 * 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수)

In [83]:
def add(*args):
    print(args)
add(1, 2, 3)

(1, 2, 3)

In [84]:
def add(*args): #args가 패킹됨.
    sum = 0
    for num in args:
        sum += num
    return sum

In [85]:
add(1, 2, 3)

6

In [86]:
numbers = (1, 2, 3)
add(*numbers)

# #numbers는 튜플 (1, 2, 3)입니다.

# *numbers는 이 튜플을 "언패킹"해서 함수에 전달합니다.

# 즉, add(1, 2, 3)처럼 호출하는 것과 같아요.

# 함수 내부에서 args는 (1, 2, 3)이라는 튜플이 됩니다.

# 왜 언패킹이 필요한가요?

# *args는 개수 제한 없이 여러 인자를 받기 때문에,

6

### 딕셔너리 인수 언패킹

In [87]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [88]:
func8(shape='rect', width=40, height=30) #원래 펑크파일은 이렇게 실행시켜야 함.

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [89]:
# 딕셔너리 언패킹이 필요한 ERROR의 예
info = {'shape':'rect', 'width':40, 'height':30} #원래 딕셔너리임
func8(info)

TypeError: func8() takes 0 positional arguments but 1 was given

In [90]:
info = {'shape':'rect', 'width':40, 'height':30} #원래 딕셔너리임
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식(lambda)
  > 람다식은 'return문 한 줄 짜리 작은 익명함수'
- 주로, 짧고 일회성으로 쓰이는 함수가 필요한 곳에서 주로 사용
- 람다는 단일 표현식만 가능 > 복잡한 로직이 아닌, 간단한 처리일 때만 사용
- 이미 정의된 함수가 지금 쓰려는 목적에 딱 맞을 때는 그냥 이름 넘기면 됨.
- 필요 이상으로 람다를 남용 > 가독성 DOWN > **"이 함수 정말 이름 붙일 필요 있을까?"**를 기준으로 선택할 것
    > map(lambda x: x * 2, [1, 2, 3])  # [2, 4, 6]
- 많은 API나 라이브러리는 함수를 인자로 받는 구조 > 예를 들어, filter(), map(), sorted(), pandas.apply() 등등... 람다식을 쓰면 코드가 훨씬 간결해져요.
    > buttons.sort(key=lambda b: b.created_at)
- 여러 줄(statements)로 나뉜 코드는 람다에서 사용할 수 없기 때문에 > if 문, for 문, try 문 같은 일반적인 **statement (문)**는 람다 내 사용불가
    > 람다식으로 변환 시의 대상으로 '조건문'이 굉장히 빈번

## 4.1 람다식 연습

In [7]:
def add(a, b): #add라는 함수를 만들어본다.
    return a+b #return문 1개에 이름이 있는 함수 > 답이 1개이기에 람다식 전환 GO
print(add(3, 5))
print(add) # 아래처럼 출력되는 건 "함수 객체" 자체를 출력했기 때문 > 즉, 결과(result)**가 아니라, 함수 **자체(object)**를 출력한 것.
print(type(add))

8
<function add at 0x0000022759748550>
<class 'function'>

In [6]:
add2 = lambda a, b : a + b #'add2'라는 람다식을 할당받은 함수를 만든다. a와 b가 주어지면 a+b의 값을 반환하라
print(add2(3, 5))
print(type(add2)) #함수로 만들어졌기에 type은 function

8
<class 'function'>

In [14]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요.
# def even_odd_chk(num):
#      if num%2:
#          result = '홀수'
#      else:
#          result = '짝수'
#      return result
# (1) 먼저, 3열~7열을 1줄로 된 return문으로 만들어야 한다.
#      result = '홀수' if num%2 else "짝수"
#      return result
# (2) 9열~10열에서 result값을 빼면서 1줄로 변환 
#      return '홀수' if num%2 else "짝수"
# (3) 2열과12열 죽이면서 12열의 return을 lambda로 대체하여 람다식으로 변환
even_odd_chk = lambda num : "홀수" if num%2 else "짝수" # 숫자를 2로 나눈 나머지 값에서 1은 참을 의미, 0은 False 거짓을 의미하기에 > 1이 나오면 홀수인 것. 
even_odd_chk(5), even_odd_chk(4)

('홀수', '짝수')

In [200]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요.
# 내 답안
def gap(a, b):
    return (a - b) if a>b else (b-a)
gap(22, 31)

9

In [94]:
# 쌤 답안
gap = lambda a, b : a-b if a>b else b-a
gap(22, 41)

19

In [95]:
# 자체연습1 곱셈과 나눗셈 a가 b보다 크면 곱하고 아니면 나눠라
maxi = lambda a, b : a*b if a>b else a/b
maxi(1,2)

0.5

In [96]:
# 자체연습2 데미지가 1000 이상이면 보너스 5% 1000이 안넘으면 보너스는 없다
damage = lambda a : a*1.05 if a>=1000 else a
print(damage(1000))
print(damage(999))

1050.0
999

In [97]:
# 자체연습3 데미지에 따른 평타 크리티컬 더블 노출과 데미지 노출
hit = lambda a : 'Critical' and (a*1.0) if a>10000 else \
                 (a*0.8) and 'Abandoned' if a>8000 else \
                 (a*2.0) and 'Double' if a>12000 else \
                 'Normal'
hit(12000)

12000.0

In [98]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return
casher = lambda balance : balance if balance>=0 else 'negative'
casher(1000), casher(-100)

(1000, 'negative')

In [99]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험', 점수가 100점 초과나 0점 미만인 경우 '유효하지 않음' return 
#가독성을 위해 역슬래시로 띄워버림 대신 옆에 공백이 있으면 안된다
Hakjeom = lambda a : 'A팀' if 100>=a>=80 else \
                     'B팀' if 79>=a>=60 else \
                     '재시험' if 0<a<60 else \
                     '유효하지 않음'
Hakjeom(-1), Hakjeom(100), Hakjeom(80)

('유효하지 않음', 'A팀', 'A팀')

In [100]:
# ex5. 점수를 입력받아 학점을 Return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             'F학점' if 0<=score<60 else \
                             '유효하지 않는 점수'
score_grade(100), score_grade(120)

('A학점', '유효하지 않는 점수')

In [101]:
# ex6. safe_index함수를 람다식으로
def safe_index(lst, item, start=0):
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) #start번째부터 item이 있는 index를 반환
#     else:
#         return -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1
lst = [1, 2, 3]
safe_index(lst, 4), ex5(lst, 3, 1)

(-1, 2)

In [102]:
# 람다식을 list에 들어갈 수 있음
# div에서 if b가 true를 의미. 즉 1이상이기에 else는 False인 -1 과 0 등이라 저렇게 만든거
add = lambda a, b : a + b 
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a/b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): #a,b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result

act_operations(20, 5)

[25, 15, 100, 4.0]

In [103]:
act_operations(8, 2, [lambda x,y : x**y, lambda x,y : 10*+y])

[64, 20]

In [104]:
(lambda x,y : 10*+y)(5,3)

30

In [105]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [106]:
act_operations(8, 2) # 기본값을 갖는 변수(기본 변수) 가 리스트면 기본값은 호출할 시점에 따라)

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문 . 함수의 매개변수가 엄청 비중이 높음
### (1) map 함수 
- 데이터프레임에서 map함수 안 쓰고 for문 쓰면 탈락함. > 그 정도로 중요함
- map()은 함수와 반복 가능한(iterable) 객체를 인자로 받는 내장 함수이다.
- > 형태 : map(func, [] () 등 반복가능한 자료형)
- map()은 각 요소에 함수를 하나씩 적용한 결과를 반환.
- 반환값은 객체(iterator) > 필요시 list() 등으로 감싸서 출력한다.
- 함수 자리에 람다(lambda) 혹은 이미 정의된 함수를 사용할 수 있다.
- 여러 개의 반복가능한 객체(iterable)을 함께 전달하면, 각 요소를 병렬적으로 함수에 전달한다.
- map()은 원본 데이터를 변경하지 않으며, 새로운 객체(iterator)를 생성한다.
- 게으른 평가(lazy evaluation)를 하기 때문에, 필요할 때만 계산된다.
- 매개변수와 인자는 확실히 개념이 다르다. 다시확인할 것

In [114]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item) )
    return result

In [115]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [122]:
list_data = [1,2,3,4,5,6,7,8,9]  #리스트 0방부터 끝방까지 2배 뻥튀기
# def x_2(x):
#     return x*2
x_2 = lambda x : x*2
print(map_template(lambda x:x*2, list_data)) #두번째 매개변수에 리스트키를 가져와도 되고, 리스트 값 그대로를 넣어도 됨.
print(map_template(lambda x:x*2, [1,2,3]))

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6]

In [124]:
# 또 다른 방법 : 리스트 컴프리헨션 **난 딱 리스트 데이터만 놓을꺼야 !
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [126]:
map(lambda x:x*2, list_data) #외부적으로 잘 안 보이는 데이터로 나오기에 list로 감싸라

In [128]:
list(map(lambda x:x*2, list_data)) #결과

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [130]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

#### 예제 1.
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오

In [140]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
          return int(value.replace(',',''))
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

#### 예제 2.
members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'},]를 \
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환

In [178]:
#일자를 바꾸는 전개1 2025-01-01 >  {'year': 2025, 'month': 1, 'day': 1}
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]
def split_date(date):
    split_date = date.split('-') #split으로 나눈 후 0방부터 순서를 가짐
    return {
        'year': int(split_date[0]), #0방이라는 숫자이기에 int로 변형해줌
        'month': int(split_date[1]),
        'day': int(split_date[2])
    }
split_date('2025-01-01')

{'year': 2025, 'month': 1, 'day': 1}

In [179]:
#일자를 바꾸는 전개1-2 
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]
def split_date(date): #date의 형식은 아래 물음대로 정해져있음.
    return {
        'year': int(date.split('-')[0]), #date의 형식내에서 쪼개서 방 순서를 주는 return을 만듦
        'month': int(date.split('-')[1]),
        'day': int(date.split('-')[2])
    }
split_date('2025-01-01')

{'year': 2025, 'month': 1, 'day': 1}

In [190]:
#전개1을 활용한 전개2
data = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]
def member_preprocessing(member):
    return {
        'name': member.get('name', '이름없음'), #member['name']
        'year': int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day': int(member.get('birth').split('-')[2])
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'}) #지금은 데이터가 하나라서 이렇게만 한거고, 데이터가 수백만 개 일 때 map을 써야 함.

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [202]:
#모든 전개를 활용한 최종답안 #list로 감싸는 건 for문 쓰지 않고 바로 출력하기 위함이다
members2 = list(map(lambda member : {
                                    'name': member.get('name', '이름없음'),
                                    'year': int(member.get('birth').split('-')[0]),
                                    'month': int(member.get('birth').split('-')[1]),
                                    'day': int(member.get('birth').split('-')[2])
                                }, members1
                   )
               ) #가독성을 위해 이렇게 괄호를 띄워버리기도 함
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

#### 예제 3. 
     > members2를 members1로 전환
- members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'},]
- members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18},]

In [209]:
#예제 3을 위한 전개 1
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [212]:
#예제 3을 위한 전개 2
def join_date(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month':1, 'day':1})

{'birth': '2000-01-01'}

In [222]:
#예제 3을 위한 전개 3
def member_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth' : "{year}-{month:02}-{day:02}".format(**member)
    }
member_preprocessing({'name':'hong', 'year':2000, 'month':1, 'day':1})

{'name': 'hong', 'birth': '2000-01-01'}

In [ ]:
#예제 3을 위한 최종답안
def member_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth' : "{year}-{month:02}-{day:02}".format(**member)
    }
member_preprocessing({'name':'hong', 'year':2000, 'month':1, 'day':1})

In [224]:
list(map(lambda member : {
        'name': member.get('name'),
        'birth' : "{year}-{month:02}-{day:02}".format(**member)
    }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

## (2) filter 함수
- 조건에 맞는 요소만 추출하는 데에 쓰임 > 사용빈도 낮음.
    > 형태 : filter(function, iterable)
- function이 True를 반환하는 요소만 추출한다.
- 이터레이터 반환 시, 결과는 리스트가 아니라 **filter 객체(이터레이터)**로 반환됨 → list() 등으로 변환 필요
- 함수 자리에 None 시, 참(Truthy)인 값만 필터링됨
- 원본 데이터를 변경하지 않음 > 불변성 유지 (immutable)

In [226]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [228]:
list_data = [1,2,3,4,5,6,7,8,9] #람다식을 이용하는 게 힘든 루저만 함수를 만든다
def off_chk(value):
    return value%2!=0
#     if value%2:
#         return True
#     else:
#         return False
filter_template(lambda value : value%2!=0, list_data)

[1, 3, 5, 7, 9]

In [229]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0] #value를 2로나눈 게 0이 아닐 때만 참

[1, 3, 5, 7, 9]

In [232]:
list(filter(lambda value : value%2!=0, list_data))

[1, 3, 5, 7, 9]

#### 예제 1.

In [238]:
# 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
list(filter(lambda x : x%1==0, L))

[1, 3.0, 100, -2.0]

In [239]:
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

## (3) sort 함수

- 리스트 전용 메서드 > 리스트 객체에서만 사용 가능
    > 사용법: list.sort()
- 원본 리스트를 직접 정렬함 (in-place 정렬) > 반환값은 None
    > 원본이 바뀌므로 주의 필요
- 옵션 인자 사용 가능 (key: 정렬 기준 함수)
    > 예: key=len (길이 기준) > key=lambda x: x[1] (튜플의 두 번째 요소 기준) > reverse: True면 내림차순
- 알파벳, 숫자 혼합 시 유니코드 기준 정렬, 문자열은 사전순으로 정렬

In [240]:
p = [10, 3, 6, 1] #유치원에서 배우는 sort
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [252]:
# sort의 기본 로직 : 무조건 0번째 item을 기준으로 오름차 순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
print(pairs) #0번째 아이템이 숫자이기 때문에 이렇게 정렬됨.
ddong = [(1,400), (2,200), (50,150), (12,10)]
ddong.sort()
print(ddong)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
[(1, 400), (2, 200), (12, 10), (50, 150)]

#### 예제 1.

In [256]:
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
# 1번째 item 기준으로 내림차 순 정렬
pairs.sort(key=lambda data:data[1])
pairs #1번째 방을 기준으로 잡았기에, 1번째 데이터인 영어 알파벳의 순서대로 정렬됨.

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [257]:
# 거꾸로 정렬하기
pairs.sort(key=lambda data:data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

#### 예제 2.

In [254]:
# 합이 큰 순으로 정렬
number_2d = [[9.9], [1,100], [10,200]]
number_2d.sort()
number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d)

[[10, 200], [1, 100], [9.9]]

#### 예제 3.

In [286]:
students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':70},
           {'name':'박', 'score':55},
           {'score':99},{'name':'최'}]
name_select = lambda data : data.get('score')
name_select({'name':'홍', 'score':99})

99

In [287]:
#Students를 Name순으로 정렬 ㄱㄴㄷ순
students.sort(key=lambda data : data.get('name', '힣')) #ㄱㄴㄷ순 정렬은 기준을 '가'인가 '힣'인가에 따라 다르다.
students

[{'name': '김', 'score': 70},
 {'name': '박', 'score': 55},
 {'name': '최'},
 {'name': '홍', 'score': 99},
 {'score': 99}]

In [288]:
#students를 score순으로 정렬
students.sort(key=lambda data : data.get('score', 0)) #score가 없는 건0이야. 그래서 제일 앞에 옴.
students

[{'name': '최'},
 {'name': '박', 'score': 55},
 {'name': '김', 'score': 70},
 {'name': '홍', 'score': 99},
 {'score': 99}]

#### 예제 4.

In [296]:
# books 정렬 : (no, title, price)
books = \
[{'no':1, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
{'no':2, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [298]:
#title 순으로 정렬 ㄱㄴㄷ순
books.sort(key = lambda book : book ['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [332]:
# price 순으로 정렬
# 이처럼 매개변수로 30200, '12,000', '5000', 'ㅁ', None이 들어올 수도 있음. 이걸 다 숫자로 처리 > 30200, 12000, 5000, 0, 0
# 계단식으로 정리 : 콤마 먼저 제외 > 콤마 뺀 값들 숫자인지? isdigit > 참이면 int화, 아니면 0부여 
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit(): #모든 언어에서 앞에꺼가 트루면 뒤에꺼 수행안함. 그래서 큰 주제를 먼저 물어본다
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
print(parse_int('5000'))
print(parse_int('12,000'))
print(parse_int('ㅁ'))
print(parse_int('None'))

5000
12000
0
0

In [335]:
#위에 것의 축약버전 : price를 스트링으로 감싼다?
def parse_int(price):
    if str(price).replace(',','').isdigit(): 
        return int(str(price).replace(',',''))
    else:
        return 0
print(parse_int('5,000'))

5000

In [327]:
# 최종답안 : price 순으로 정렬
parse_int = lambda price : \
                    int(price.replace(',','')) \
                        if isinstance(price, str) and price.replace(',','').isdigit() else \
                    price if isinstance(price, int) else \
                    0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int('None'))

12000 30200 0 0

#### 예제 4의 변형

In [328]:
# {'no': 5, 'title': '가격이 숫자', 'writer': '백난도', 'price': '12,000'} => 12000   값이 딕셔너리로 들어온 경우

In [344]:
parse_int = lambda book : \
                    int(book.get('price').replace(',','')) \
                            if isinstance(book.get('price'), str) and \
                                        book.get('price').replace(',','').isdigit() else \
                    book.get('price') if isinstance(book.get('price'), int) else \
                    0
parse_int({'no': 5, 'title': '가격이 숫자', 'writer': '백난도', 'price': '12,000'})

12000

In [345]:
copyBooks = books.copy() #복제(깊은 복사)
copyBooks.sort(key=lambda book : \
                    int(book.get('price').replace(',','')) \
                            if isinstance(book.get('price'), str) and \
                                        book.get('price').replace(',','').isdigit() else \
                    book.get('price') if isinstance(book.get('price'), int) else \
                    0,
               reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 기본함수 (ex: print, int, sort...)
- 키워드(if, while...etc)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용해선 안됨.

In [3]:
a = 10

In [5]:
globals() # 전역변수 리스트 # 리스트 보면, a=10이 들어가있음

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'globals() # 전역변수 리스트',
  'a = 1-',
  'a = 10',
  'globals() # 전역변수 리스트',
  'globals() # 전역변수 리스트 # 리스트 보면, a=10이 들어가있음'],
 '_oh': {1: {...}, 4: {...}},
 '_dh': [WindowsPath('C:/Ai/Source/01_python')],
 'In': ['',
  'globals() # 전역변수 리스트',
  'a = 1-',
  'a = 10',
  'globals() # 전역변수 리스트',
  'globals() # 전역변수 리스트 # 리스트 보면, a=10이 들어가있음'],
 'Out': {1: {...}, 4: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000014167CA3730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x14167cafee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x14167cafee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': {...},
 '___': '',
 '_i': 'globals() # 전역변수 리스트',
 '_ii': 'a = 10',
 '_iii': 'a = 1-',
 '_i1': 'globals() # 전역변수 리스트',
 '_1': {...},
 '_i2': 'a = 1-',
 '_i3': 'a = 10',
 'a': 10,
 '_i4': 'globals() # 전역변수 리스트',
 '_4': {...},
 '_i5': 'globals() # 전역변수 리스트 # 리스트 보면, a=10이 들어가있음'}

In [7]:
all([True, True, True, True, False]) # 모든 요소가 다 True인지 여부를 반환

False

# 6절. 연습문제

## 실습형

In [134]:
# 실습형 1: 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
get_max_min = lambda lst: (min([i for i in lst if type(i) == int and i >= 0]), max([i for i in lst if type(i) == int and i >= 0]))
# int는 음수도 포함하는 정수 전체를 포함 > int만 하면 안됨.
# for 문 = lst의 각 i를 꺼내서 i라는 객체 그대로 []리스트에 넣기 위해 쓰겠다”는 명령 > 리스트 안의 객체들(i) 중 int인 것들만 뽑아 > min과 ma
get_max_min([1,4,5,6.2,-7,6,10])

(1, 10)

In [179]:
# 실습형 2:체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다.
# 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# •getBMI(kg, m):
# •BMI지수 = 체중(kg) / 신장(m)의 제곱
# •BMI<18.5 : 마른체형
# •18.5<=BMI<25 : 표준
# •25<=BMI<30 : 비만
# •BMI >=30 : 고도비만
# cm형으로 바꿔봄
getBMI = lambda kg, cm : (
                         (lambda bmi : "마른체형" if bmi < 18.5 else
                                       "표준" if bmi < 25 else
                                       "비만" if bmi < 30 else
                                       "고도비만")
                                       (kg / ((cm ** 2)/100)))
getBMI(40, 172)

'마른체형'

In [122]:
# 실습형 3: 직각 삼각형 w, h로 넓이(area)와 둘레(perimeter)를 반환하는 함수를 만들어라.
import math #수학 공식 왠만한 건 다 있음
def get_triangle(w, h):
    area = w * h * 0.5
    # math.sqrt() : 제곱근
    perimeter = w + h + math.sqrt(w*w + h*h)
    return {'넓이':area, '둘레':perimeter}
get_triangle(3, 4)

{'넓이': 6.0, '둘레': 12.0}

In [58]:
# 실습형 4: 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
def mysum(a, b):
    return sum(range(a, b + 1)) #range(start, stop)은 start부터 시작하여 stop - 1까지의 정수들을 포함하는 범위를 생성
    mysum = lambda a, b: sum(range(a, b + 1)) # **end + 1을 쓰는 이유 : 파이썬의 range() 함수가 끝 숫자 바로 전까지만 포함하기 때문
mysum(2, 5)

14

In [76]:
# 실습형4의 자체연습 : 인자로 시작과 끝숫자가 주어질 때 더한 후 3을 빼고 2로 나눈 값을 정수로 리턴하는 함수 작성(시작값과 끝값 포함)
mysum1 = lambda a, b : int(((sum(range(a, b + 1)))-3)/2)
mysum1(4, 5)

3

In [87]:
# 실습형4의 자체연습2 : 인자로 시작과 끝숫자가 주어질 때, 모두 곱한 후 나눈 나머지 값이 0이면 True로 리턴하는 함수
import math
mysum2 = lambda a, b: math.prod(range(a, b + 1)) % 2 == 0 
mysum2(2,0) #이렇게 되면 0이나 -1이 하나라도 들어간 객체는 False처리로 구분 가능

False

In [156]:
# 실습형 5: 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# def get_abbrs(lst):
#     return [i[:3] for i in lst]
get_abbrs = lambda lst: [i[:3] for i in lst]
get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [56]:
# 실습형 6: 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
# def f(x,y):
#    return x ** y
f = lambda x, y : x ** y #x를 y번 곱하라는 의미 = x 숫자가 y만큼 사용되어 곱셈이되면 됨.
f(4,5) #4*4*4*4*4

1024

In [173]:
# 실습형 7: ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오.

# 실습형 7. 람다함수와 map함수 이용
ex = [1,2,3,4,5]
list(map(lambda x : x**2, ex))

# 실습형 7. 리스트컴프리헨션 이용
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [174]:
# 실습형 8 : 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오


# 실습형 8.
a = [1,2,3]
print(*a)
print(a)
answer = '''
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때,
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로
넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로
나타나게 된다
'''

1 2 3
[1, 2, 3]

In [175]:
# 실습형 9 : 다음 코드의 실행 결과는?
date_info = {'year':'2019', 'month':9, 'day':6}
result = "{year}-{month}-{day}".format(**date_info)
# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
# result = "{year}-{month:02}-{day:02}".format(**date_info)
result

'2019-9-6'

In [35]:
# 실습형 10 : n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 reutrn하는    **벡터는 리스트, 튜플, 셋 등의 길이를 가진 자료형을 의미
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.
def vector_size_check(*vector_var): 
    # *는 **가변 인자(variable-length arguments)**를 의미해요.
    #즉, 인자를 몇 개 넘기든 다 받아서 vector_var라는 이름으로 하나의 **튜플(tuple)**에 저장
    return all(len(i) == len(vector_var[0]) for i in vector_var)
    #vector_var의 요소를 하나씩 받아서 쓰겠다는 ' i '는 반복문의 루프변수
    #for i in vector_var → 모든 벡터를 반복하면서
    # len(i) → 루프변수의 길이
    # len(vector_var[0]) → 첫 번째 벡터 '0'을 기준으로 스타트. 이후에 False가 하나라도 나오면 False됨.
    # == → 비교해서 같으면 True, 다르면 False 값을 반환하는거라
    # all(...) → 전부 True면 True 반환, 하나라도 False면 False 반환하는 함수
    #**vector_var안의 모든 객체를 i라는 루프변수로 칭하고, i의 갯수(len)가 vector_var내 0번째 객체와 같은지. 전부 같으면 True반환하는 all로 묶기
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'aga':30}, (1,3), (1,55), (33,44))) #딕셔너리도 들어가진다.
#len 이용, 갯수가 다 똑같으면 True 아니면 False반환으로 처리 > 중복값 반환 안하는 Set이용

True

In [52]:
# 실습형10 연계연습
print(vector_size_check({1,4},{5,5},{5,6})) #set집합은 중복을 허용하지 않기에, 1번째 값인 5,5는 갯수가 1, 나머지 값들은 2, 그래서 False
print(vector_size_check([1,4],[2,5],[5,6,7])) #2번재 값의 개수가 3개이기 때문에 False
# 실습형10 변형 생성 : 내부 값을 더한 값 비교 (sum 사용)
def vector_size_check2(*vector_var):
    return all(sum(i) == sum(vector_var[0]) for i in vector_var)
print(vector_size_check2([2,2], (3,1)))

False
False
True

In [161]:
# 실습형 11
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]
scalar_vector_product(10, [1,2,3,4])

[10, 20, 30, 40]

## 서술형

In [162]:
# 서술형 1 (2)
pairs = [(1, 'd'),(2, 'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [164]:
# 서술형 2. 
a = 10 # 전역변수
def sub():
    global a # 문제해결을 위한 코드
    a += 1
    print(a, end='(sub함수에서 출력) ')
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func함수에서 출력) ')
        sub()
func()
answer ='''
오류가 발생하는 라인 : 원래 3줄(a += 1부분)
a = a+1 : a에 값을 할당하면 지역변수가 됨
          지역변수 a+1를 계산할 수 없음
문제해결을 위해 : 에러나는 줄 앞에 global a 선언 '''

6(func함수에서 출력) 11(sub함수에서 출력) 6(func함수에서 출력) 12(sub함수에서 출력)

In [165]:
# 서술형 3. 실행결과
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

100

In [166]:
# 서술형 4. 실행결과
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [180]:
import numpy as np #넘파이 함수에 대해
np.add(2,3)

5

In [168]:
# 서술형 5 실행결과
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [169]:
# 서술형 6 (1) 함수의 오버로딩 불가

In [170]:
# 서술형 7 (4) func([], a=40) a는 순서인수라서 무조건 첫 매개변수는 a로
list_ = []
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print('(1)',func(10, list_))
print('(2)',func(20, L=list_))
print('(3)',func(a=30))

(1) [10]
(2) [10, 20]
(3) [30]

In [171]:
# 서술형 8. lambda