In [180]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" Color="red">ch02. 자료형과 연산자 </font></b>

# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /(결과 float), //(몫), %(나머지), **(제곱)

In [11]:
print("10*5승 =", 10**5)
print("4/2(결과 실수) =", 4/2)
print("5//2(몫) =", 5//2) #// = 정수 나눗셈 연산자. 즉, 5 // 2는 5를 2로 나눈 "몫"만 구하라. 2.5니까 소수점 제외한 2가 답
print("5%2(나머지) =", 5%2) #즉, 5 % 2는 5를 2로 나눈 뒤의 나머지를 구하라

10*5승 = 100000
4/2(결과 실수) = 2.0
5//2(몫) = 2
5%2(나머지) = 1

In [14]:
# 대부분 실수가 계산하는 데에 용량이 더 소모된다.
# 정수끼리의 연산은 결과가 정수 (단 / (나머지)만 제외)
# 정수와 실수, 실수와 실수끼리 연산 결과는 실수
print("4**2 =", 4**2) # **는 **거듭제곱(exponentiation)**을 의미. 4에 거듭제곱이니 4*4 = 16
print("4**2 =", 4**2.0)

4**2 = 16
4**2 = 16.0

In [20]:
# quiz1. 정수를 고객에게 입력 받아 짝수인지 홀수인지 여부를 출력하는 프로그램
num = int(input("정수를 입력하시오:"))
result = num % 2 # 나머지결과값은 -1, 2 , 1 무조건 셋 중 하나
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다") #format함수 앞에 f입력해도 됨

정수를 입력하시오:4
입력하신 수는 4, 2로 나눈 나머지는 0라서 짝수를 입력하셨습니다

In [75]:
# quiz2. 정수를 입력받아 5의 배수인지 여부를 출력
# if 문은 조건이 **참(=True)**일 때만 실행된다.
# 0 → False 0 이외의 숫자(1, 2, -1 등) → True
num = int(input("정수를 입력하시오:")) 
if num%5:
    print("5의 배수가 아닙니다")
else:
    print("5의 배수입니다")

정수를 입력하시오:12
5의 배수가 아닙니다

In [73]:
# quiz3.국,영,수 점수를 입력 받아 다음셀에서 다음과 같이 출력하도록 구현
kor = int(input("국어?")) #변수 이름 길어도 좋으니 무조건 가독성
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum / 3
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}".format(kor, eng, mat))
print("총점 : {:3d}\t평균 : {:5.1f}".format(sum, avg))  #100.0이 제일 큰 수니까 5수가 필요함 (.까지 수로 치니까) 5수에서 소수점은 1자리만이라서 5.1

국어?99
영어?100
수학?100
국어 :  99	영어 : 100	수학 : 100
총점 : 299	평균 :  99.7

## 5.2 할당연산자 : =, +=, -=, /=, *=, //=, %=
오른쪽에 있는 것을 왼쪽에 넣겠다는 연산자.?
경우1) a = b = 10  ***산술 연산자는 왼쪽부터 계산하는데, 할당 연산자는 오른쪽부터 계산한다
파이썬에서는 a++이런 게 없다 << 오직 자바 같은 곳에서만. 이걸 하려면 a+=1이다.

In [85]:
a = 10
a += 5 # a = a + 5와 동일
print(f"a = {a}")

#즉, 기존의 a 값(10)에 5를 더해서, 다시 a에 저장하는 거예요.
# 👉 10 + 5 = 15, 그래서 a는 이제 15가 됨.
#f 문자열은 a 변수의 값을 문자열 안에 넣어서 출력해 줌.

a = 15

In [84]:
a -= 5 # a = a - 5와 동일
print("5빼기 :", a) # 10
a *= 10 # a = a*10
print("10배 :", a) #100
a //= 5 # a = a//5
print("5나눈 몫 :", a)

5빼기 : 10
10배 : 100
5나눈 몫 : 20

In [ ]:
a *= 5 # a = a * 5와 동일

## 5.3 논리연산자 : &, and, |(or), or, not

In [98]:
# & : 논리연산자, 비트연산자(숫자가 2진수로 박혀서 들어감)
print( (10>3) & (10>5) ) 
print( 10>3 & 10>5 ) #괄호 풀 경우, 파이썬만 유일하게 &을 먼저 계산함. 이 경우, &의 앞뒤가 숫자이기 때문에 비트연산을 한다.
print( (10>3) & (2>5) ) #False가 조금이라도 껴있으면 False다. True끼리만 있는 답만이 True다.
print( 12 & 1 ) #비트연산 1 1 0 0 (12)
                  #       0 0 0 1 (1) 상아래로 나눠서 수직계산시 다 False다. 0은 false고 나머지는 true이기에, true만 남는 값이 없어서 False.
print("{:4b}".format(12))

True
False
False
0
1100

In [97]:
 # and : ONLY 논리연산자
#처음부터 끝까지 다 연산한다. False로 판별되는 첫번째 항의 결과 반환 False가 오면 무조건 False
#모든 항이 True면, 마지막항의 결과 반환
print( (10>3) and (10>5) ) 
print( (1>3) and (10>5) ) 
print( 12 and 1 ) #1이 마지막 값이라 1을 출력??
print( 0 and 1 ) #처음에 바로 False라서 False

True
False
1
0

In [101]:
# | : 논리연산, 비트연산. 앞뒤에 논리값이 있으면 논리연산. 앞뒤에 숫자값이 있으면 비트연산. 두 논제가 함께할 순 없다. ex: print( (10>3) & (10>5) ) 
result = True | False
print('논리연산(연산자 앞뒤가 논리형일 때) :', result)
result = False | 3 # 0000 (0)
                #  | 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤가 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [102]:
# or : 논리연산. and연산처럼 True로 판ㅂ려되는 첫번째 항의 결과를 반환.
       # 모든 항이 거짓이면 마지막항의 결과를 반환.
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [103]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)
우선순위 낮은 연산자군

In [108]:
# 비교연산자는 이항, 삼항, 사항... 즉 다항연산자.
x = 95
print( (90<=x) & (x<=100) )
print( x>=90 & 100>=x ) # 괄호 안치면, &부터 계산해서 난리남
print( 90 <= x <= 100 ) #이렇게 풀어서도 됨
print( 90 <= x <= 100 > 10 ) #이렇게 복잡해도 됨

True
False
True
True

In [112]:
# 비교연산자의 우선순위가 비트연산자(|,&)의 우선순위보다 낮다
print( (10>5) & (10>7) )
print( 10>5 & 10>7 )
# 0101(5) & 1010(10) 각개 계산 시 모두 다 False 
print( 10 > 0 > 7 )

True
False
False

In [2]:
address = '목동'
age = 29
print( (address=="목동") & (age<=30) )
print( address=="목동" and age<=30 ) #괄호치기 싫으면 이렇게 하는데, 가독성 떨어져서 잘 안씀

True
True

In [120]:
# 문자는 ASCII 코드 순으로 비교 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
print("scott" < "tiger")
print("김길동" > "홍길동")

True
False

## 5.5 비트연산자 : &, |, ^(XOR), ~(반대)


```

x   y   x&y   x|y   x^y   ~x
----------------------------------
0   0    0     0     0     1
0   1    0     1     1     1
1   0    0     1     1     0
1   1    1     1     0     0

```
- x^y는 이차원 그래프로 절대 설명이 불가. 머신러닝으로 풀 수가 없음. 이 때 Ai의 겨울이 왔었음. 그래서 이걸 풀기 위해 딥러닝이 나오기 시작 > 딥러닝은 식을 하나만 하지 않기 때문

In [18]:
a = 15 # 이진수로 바꾸면 1111 (8+4+2+1)
b = 2 # 이진수로 바꾸면 0010 
print("a = {0:2} : {0:04b}".format(a))
print("b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))

#세로로 계산했을 시 True/False에 따라 나온게 a&b
#밑에 것들도 이진수로 세로계산

print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))
print("~a = {0:2} : {0:04b}".format(~a)) #이게 졸라 어렵다. 몰라도 상관없다고 하시는데 궁금함

#모든 값중 왼쪽값은 두 자리로 출력하라고 했기 때문에 십진수로 출력된 것.

a = 15 : 1111
b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
~a = -16 : -10000

# 6절 문자열 다루기
- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열변수) : 문자수를 던져 줌(스페이스 또한 문자 1개다)
- upper() : 모든 아이를 대문자로 변환
- lower() : 소문자로
- title() : 각 어절의 앞 글자만 대문자로
- capitalize() : 맨 첫 문자만 대문자로
- count("찾을문자") : "찾을문자"가 몇 개 들어있는지 갯수 반환(**반환은 결과값을 던진다는 의미)
  >>기본적으로, 대소문자까지 정확히 매칭한값을 추출.
- find("찾을문자") : "찾을문자"가 왼쪽부터 몇번 째에 있는지 index를 반환 (없으면 -1)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번 째에 있는지 index를 반환 (없으면 -1)
- cf. index("찾을문자") : "찾을문자"가 왼ㅉ고부터 몇번째에 있는지 index를 반환 (없으면 에러) > **에러나면 서버 셧다운이라 안 씀
- startswith("특정문자") : "특정문자"로 시작하는지 여부 반환
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반환


- strip() : 좌우공백제거 **다른언어에서는 trim으로 쓰임(자바C/오라클 등)
- lstrip() : 좌측공백만 제거
- rstrip() : 우측공백만 제거
- <span style="color:red"> **split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환 </span>
  **나누다/정말 많이 쓰임
- isdigit() : 문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr로 변경하는 함수

In [230]:
int("1,000".replace(",", ""))
#숫자값 내에 콤마(,)가 있으면 문자로 인식.
#ex:1) 숫자가 겁나 많을 때 콤마(,) 찾기가 힘들고 지워내야할 때도 있다.
#ex:2) 네이버같은데 로그인 할 시, 아이디에 스페이스를 쳐도 없애지고 로그인 됨. 그런용도
  #re.sub은 무엇인가? 알려주다 말으심

1000

In [68]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [77]:
temp = "PYTHON is easy. PYTHON is smart. Python"
    #   0123456789012345678901234567890123456789
print("대문자로 :", temp.upper()) #은행들이 주로 이걸 사용함 아이디를 대문자로 변환하여 로그인
print("소문자로 :", temp.lower())
print("title :", temp.title())
print("capitalize :", temp.capitalize())
print("PYTHON이 몇 번 나오는지 :", temp.count("PYTHON"))
print("대소문자 구분없이 PYTHON이 몇 번 나오는지 :", temp.lower().count("python")) #소문자로 선변환줌.
print("대소문자 구분없이 PYTHON이 몇 번 나오는지 :", temp.upper().count("PYTHON")) #대문자로 선변환줌.
print("easy가 나오는 첫 index 위치 :", temp.find("easy"))
print("easy가 나오는 마지막 index 위치 :", temp.rfind("easy")) #find와 rfind값이 같다는 건 딱 1번만 나온다는 것.
print("C가 나오는 index 위치 :", temp.find("C")) #찾을 문자가 없을 경우 -1로 반환.
print("python이 나오는 첫 index 위치 :", temp.index("PYTHON"))
# print("Java가 나오는 첫 index 위치 :", temp.index("Java"))
print("문장이 PY로 시작해? :", temp.startswith("P")) #대소문자 구분 lower/upper 선변환추천
print("문장이 k로 끝나? :", temp.endswith("k")) #대소문자 구분 lower/upper 선변환추천
print("PYTHON을 R로 변경 :", temp.replace("PYTHON", "R"))

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title : Python Is Easy. Python Is Smart. Python
capitalize : Python is easy. python is smart. python
PYTHON이 몇 번 나오는지 : 2
대소문자 구분없이 PYTHON이 몇 번 나오는지 : 3
대소문자 구분없이 PYTHON이 몇 번 나오는지 : 3
easy가 나오는 첫 index 위치 : 10
easy가 나오는 마지막 index 위치 : 10
C가 나오는 index 위치 : -1
python이 나오는 첫 index 위치 : 0
문장이 PY로 시작해? : True
문장이 k로 끝나? : False
PYTHON을 R로 변경 : R is easy. R is smart. Python

In [96]:
temp = "     python is easy     "
notdigit = "1,000"
print("좌우 공백 제거 :", temp.strip())
print("좌우 공백 제거 : [{}]".format(temp.strip()) )
print("좌측 공백 제거 : [{}]".format(temp.lstrip()) )
print("우측 공백 제거 : [{}]".format(temp.rstrip()) )
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit()) #notdigit 값에 콤마가 있기 때문에 False
print("replace후 isdigit :", notdigit.replace(",", "").isdigit())
print("대문자인지 여부 :", temp.isupper()) #공백을 제외한 모든 값이 대문자가 아니기에 False
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : python is easy
좌우 공백 제거 : [python is easy]
좌측 공백 제거 : [python is easy     ]
우측 공백 제거 : [     python is easy]
isdigit(숫자문자)인지 여부 : False
replace후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [105]:
names = "홍길동  김길동     박길동  주길동  고길동"
print("space단위로 names 분리(list로 반환) :", names.split())

space단위로 names 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']

In [106]:
names = "홍길동  김길동     박길동  주길동  고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환) :", name_list)
print(name_list[0], name_list[1], name_list[2])

space단위로 names 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동 박길동

In [109]:
date_str = "2025-09-17"
date_str.split("-")

['2025', '09', '17']

In [112]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [115]:
# str_ = "ABC" 이건 바로 아래 식과 동일하다
str_ = ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [124]:
# ' - '을 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)"
temp.replace(" - ", "/") #자바에서 replace함수 사용시 맨 첫번째 것만 바꿈. 그래서 아래 대안 사용
# 대안 : split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print('분리된 temp :', splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매개변수 list를 연결 **()안의 문자열은 맘대로
print("join temp :", joined_temp)

분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG)']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML(M/DNN/CNN/RNN)/LLM(RAG)

In [126]:
# 문자열을 다룰 수 있는 함수들 목록
# dir(str) 이거치면 주루룩 뜸

# 7절. 시간,날짜 다루기

In [128]:
import datetime #import인입은 다른 유저들이 만든 함수를 쓰겠다는 거
datetime.__file__ #해당 함수파일의 위치 찾기

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [129]:
# datetime모듈(datetime.py) 안에서 저 3가지의 클래스만 Load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [130]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [134]:
#날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S")) #이게 제일 좋음
print(thatday.ctime()) #ctime() : 사람이 읽기 쉬운 형태로 변환 (외국인 기준임)

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [138]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now() #함수값뒤에 점을 넣는 걸 왜인지 알아보자 
print(now)
print(now.ctime())
print(now.strftime("%Y년%m월%d일 %p %I:%M:%S"))

2025-09-17 14:24:18.290977
Wed Sep 17 14:24:18 2025
2025년09월17일 PM 02:24:18

In [142]:
#뒤의 시간일수록 큰 수이기에, (현재-과거=)해야함.
diff = now-thatday
print(diff)
print(diff.days) #일 수만 계산

6 days, 4:54:18.290977
6

## 7.2 날짜만 저장

In [146]:
# 특정한 날짜를 갖는 date 객체 생성 
# date에는 오직 연,월,일만 매개변수로 사용가능
someday = date(2025,9,11)
someday

datetime.date(2025, 9, 11)

In [150]:
#내가 원하는 형식대로 변환출력
#임포트데이터 에러 시 추후작업 전부 에러나니 꼭 조심.
print(someday)
print(someday.strftime("%Y년 %m월 %d일")) #연월일만 있기에 시간값넣어봤짜 0분 0초로 뜸

2025-09-11
2025년 09월 11일

In [154]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [156]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [160]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간만 저장

In [161]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0) #초 저장 안하면 0만 입력
t

datetime.time(14, 39)

In [163]:
print(t.strftime("%p %I:%M"))
print(t.strftime("%Y년 %m월 %d일 %p %I:%M")) #이 결과값이 날짜의 0값이다

PM 02:39
1900년 01월 01일 PM 02:39

In [170]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:44:09.960210

# 8절. 연습문제

In [2]:
# Quiz1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요.
# 출력형식 : 홍길동님의 나이는 23살입니다.
name = "홍길동"
age = "23"
print(f"{name}님의 나이는{age}입니다.") #f치환

홍길동님의 나이는23입니다.

In [27]:
# Quiz2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요. #정수에 0을 넣어버리면 나누기/몫/나머지에서 에러가 남
num1 = int(input('첫 번째 정수를 입력하세요'))
num2 = int(input('두 번째 정수를 입력하세요'))
print('덧셈', num1 + num2)
print('뺄셈', num1 - num2)
print('곱셈', num1 * num2)
if num2!=0:
print('나눗셈', num1 / num2)
print('몫', num1 // num2)
print('나머지', num1 % num2)
else

첫 번째 정수를 입력하세요20
두 번째 정수를 입력하세요40
덧셈 60
뺄셈 -20
곱셈 800
나눗셈 0.5
몫 0
나머지 20

In [28]:
## Quiz3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요.
str_ = "Hello World"
splited_list = str_.split()
print(splited_list

['World'] Hello

In [22]:
# Quiz4. x = 'abcdef'를 이용하여 'bcdefa'로 출력하세요 (문자 슬라이싱 이용)
x = "abcdef"
a = (x[1],x[2],x[3],x[4],x[5],x[0])
result = ''.join(a)
print(result)

bcdefa

In [245]:
# Quiz5. x = 'abcdef'를 이용하여 'fedcba'로 출력하세요
x = "abcdef"
b = x[5],x[4],x[3],x[2],x[1],x[0]
result = ''.join(b)
print(result)

fedcba

In [279]:
# Quiz6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요.
#화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고, 소수점이하 값이 없는 경우는 소수점을 출력하지 않도록 합니다.
#(다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨 F는 화씨) C=(F-32)/1.8  F=(C*1.8)+32
a = int(input("오늘의 온도를 섭씨로 입력하세요"))
F = (a*1.8)+32
if F == int(F):
    print(f"오늘의 온도는 화씨로 {int(F)}도입니다.")      
else:
    print("오늘의 온도는 화씨로 {:.2f}도입니다".format(F))

오늘의 온도를 섭씨로 입력하세요20
오늘의 온도는 화씨로 68도입니다.

In [ ]:
# Quiz7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오? 1,2,3번
1. for
2. 10th
3. student.name #.이 있어서 안됨. 그리고 변수가 대문자로 시작하면 미친놈 소리들음
4. _1234

In [280]:
# Quiz8. 다음의 코드의 실행결과는? "Seo" "Seo"
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [ ]:
# Quiz9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은? 없다.
1. 수식 8//2의 결과는 4다
2. 수식 8/2의 결과는 4다
3. 수식 8**2의 결과는 64다

In [284]:
# Quiz10. 아래 프로그램의 결과는? 성립불가. 스트링은 숫자가 아니기 때문에? 5를 문자로바꿔서 해결
# x = 5 
# y = "John"
# print(x + y)

In [29]:
# Quiz11. split()함수를 이용하여 str_의 값 중 "나라"를 출력하는 프로그램을 완성하시오.
str_ = "우리 나라 대한 민국"
str_.split()[1]

'나라'

In [ ]:
강사님 깃에서 답안 참조 꼭해서 복습