In [69]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" Color="red">ch03. Data Structure </font></b>
- 리스트[80,20], 튜플(90,20), 딕셔너리{"name":"홍","score":99}, 셋{10,20} 

# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음 ex: 리스트["80",20]
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [4]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [1]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [5]:
print(fruits)
print(fruits[0]) #인덱싱을 이용한 읽기1 
print(fruits[3]) #인덱싱을 이용한 읽기2 0방부터 3방까지가 최대이기 때문에
# print(fruits[4])- 인덱싱은 없는 걸 가져오라 하면 에러가 난다

['banana', 'apple', 'orange', 'grape']
banana
grape

In [6]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [18]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료를 만들어 줌.
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by생략시 1
range(10) # 내부적으로 [0,1,2,3,4,5,6,7,8,9]를 안고 있다.

range(0, 10)

In [20]:
list(range(10)) #range 함수도 생각보다 많이 쓰인다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(10, -1, -2)) #10부터 -1까지 -2씩 단위로 반환해

[10, 8, 6, 4, 2, 0]

In [46]:
for i in [0,1,2,3,4,5,6,7,8,9]: # i 라는 변수에, 0,1,2,3,4,5,6,7,8,9를 각각 넣어서 실행 # 콜론(:)을무조건 넣어준다
    print(i) #꼭 탭 들여쓰기 # 이건 range 함수와 가장 많이 쓰이는 'for 반복문'이다

0
1
2
3
4
5
6
7
8
9

In [44]:
for i in range (-5, 2, 2): #까지가 2지만, 부터~까지이기 때문에 -5부터 1까지를 의미함
    print(i)

-5
-3
-1
1

In [56]:
#잘 안쓰는 방식
fruits = ['mango', 'apple', 'orange']
print("{}번째 과일은 {}".format(0, fruits[0])) #함수식으로 correct
print("{}번째 과일은 {}".format(1, fruits[0])) #일반인의 시선으로 correct
print("{}번째 과일은 {}".format(1, fruits[2])) #이렇게 지정하기 나름
#블럭처리하고 Ctrl + / 하면 주석처리 빠르게 가능

0번째 과일은 mango
1번째 과일은 mango
1번째 과일은 orange

In [61]:
#range를 활용한 방식 (변수 갯수 직접 입력) ****하드코딩이라 개발자들이 싫어하는 방식
fruits = ['mango', 'apple', 'orange']
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [78]:
#range를 활용한 쉬운 방식 + len함수 활용 = 최종 제일 많이 씀
fruits = ['mango', 'apple', 'orange']
for idx in range(len(fruits)): #idx는 index의 약자다
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [79]:
list(enumerate(fruits)) #보기쉽게 정렬시켜줌 대박이다

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [82]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]: #하드코딩방식
    print(f"{i}번째 과일은 {fruit}") #포맷팅 

#개선방식
for i, fruit in enumerate(fruits): #Easy방식
    print(f"{i}번째 과일은 {fruit}") #포맷팅

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [87]:
for item in fruits: #['mango','apple','orange'] 변수이름은 내 마음대로, item ~ x ~ whatever
    print(f"{item} 획득")

mango 획득
apple 획득
orange 획득

In [103]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [6,5], (4,2), {2,5}] #숫자, 논리, 문자, 리스트, 튜플, 딕셔너리까지 다 들어감 **리스트 안에 리스트까지 가능!!!
numbers
numbers[2], numbers[4][1] #인덱스는 0부터 시작하기에 0방부터해서 2번째 순서를 출력 #4와 1은 논리값이 더해져서 출력이 되는데 4와 5는 안됨. 이유확인 필요

('2', 5)

In [107]:
# 2차원 리스트
numbers = [1,2,3,4,5]
             # 0열/1열/2열/3열/4열               #가상의 엑셀을 만들어보면 쉽다
numbers_2d = [[1,2,3,4,5],        #0행
              [10,20,30,40,50],   #1행
              [1,3,5,7,9],        #2행
              [2,4,6,8,10]]       #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [109]:
#특정행, 특정열 데이터 인덱싱
numbers_2d[1][4] #그래서 1행(두번째 줄)의 4열 것(5번째 칸).

50

In [112]:
print(len(numbers_2d)) #numbers2d에는 데이터가 20개가 있는 게 아니라, 리스트로 묶어진 4개가 있는 것이다.

4

In [115]:
print(len(numbers_2d[0])) #이게 왜 나온건지 이유확인 필수

5

In [123]:
#중첩 for문
for row in numbers_2d:
    for item in row:
        print(item, end='\t') #end함수를 추가해 탭구분하여 하나씩 출력
    print() #아무것도 안 넣어도 이렇게 되는 이유확인 필수

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [140]:
for i in range(len(numbers_2d)):    # i:행
    for j in range(len(numbers_2d[i])):    # j:열
        print(f"{i}행{j}열:{numbers_2d[i][j]}", end="\t")
    print() #개행

0행0열:1	0행1열:2	0행2열:3	0행3열:4	0행4열:5
1행0열:10	1행1열:20	1행2열:30	1행3열:40	1행4열:50
2행0열:1	2행1열:3	2행2열:5	2행3열:7	2행4열:9
3행0열:2	3행1열:4	3행2열:6	3행3열:8	3행4열:10

In [139]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [142]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [147]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본정보 조회

In [156]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [157]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [160]:
# 최소값과 최대값
#numbers에서는 수들 중에서 최소값을 구함.
#무조건 0번째 수만 보고 계산해서 2행을 최소값으로 구한 것.
#2차원 list의 최소/최대값 : 부분리스트 중 첫 요소가 가장 작은 값/큰 값이 됨.
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [161]:
# list의 데이터가 문자일 경우, ASCII코드값으로 min과 max값 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [168]:
# 정렬하기
numbers = [1,12,3,4,5] #이 안에 문자값인 "12" 넣을 경우, sorted 당연히 적용불가
print("오름차 순 정렬 :", sorted(numbers))
print("내림차 순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용 시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차 순 정렬 : [1, 3, 4, 5, 12]
내림차 순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용 시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소 추가
- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `extend(리스트)` : 리스트를 요소별로 맨 뒤에 추가
- `insert(idx, 값)` : idx번째 인덱스 위치에 값 추가

In [172]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [173]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [174]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [179]:
numbers.append([5,6,7]) # 리스트 안 내용 그대로 추가 #계속 입력하면 계속 추가됨.
numbers

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [181]:
numbers = [1, 2, 3]
numbers.extend([5,6,7]) #내용만 그대로 들어감
numbers

[1, 2, 3, 5, 6, 7]

In [182]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [186]:
lst = ['a','b','c']
lst.append('hello')
lst

['a', 'b', 'c', 'hello']

In [185]:
lst = ['a','b','c']
lst.extend('hello') # extend는 리스트가 풀어져서 요소별로 들어감
lst

['a', 'b', 'c', 'h', 'e', 'l', 'l', 'o']

In [193]:
numbers = [1,2,3,4,5]
numbers.insert(2, 'poop') # (2)번째 인덱스에 'xx' 추가 # 기존 데이터 사이를 삐집고 들어가서 추가 > 차순 데이터가 밀림
numbers

[1, 2, 'poop', 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근 
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 **없으면 에러 남.
- 찾을데이터 in list변수 : 찾을데이터가 리스트변수의 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수를 반환

In [199]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3] #데이터는 7개다.
print(numbers.count([1,2,3]))
print(numbers.count(2)) # 이렇게 쳐도 되지만, 콤마형식으로 여러개 물어도 된다. 아래처럼

1
2

In [202]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3] #데이터는 7개다.
numbers.count([1,2,3]), numbers.count(6), numbers.count(2) #없는 걸 물어보면 0이라 대답함

(1, 0, 2)

In [204]:
print(2 in numbers) #numbers 안에 변수값이 존재하는지만 체크
print(5 in numbers) #없으니 False

True
False

In [216]:
numbers.index(2)
numbers.index(1) #없으면 에러 남. 그래서 함부로 썼다간 셧다운됨.

0

In [215]:
if 5 in numbers:  #이렇게 많이 씀. 가독성 좋아서
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [214]:
if numbers.count(5):  #이렇게 쳐도 됨.
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [251]:
def safe_index(lst, item): #여러줄일 경우 큰 따옴표
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환. 
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item) #있으면 인덱스를 리턴해라
    return -1 #없으면 -1로 반환

In [1]:
from flist import safe_index # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [9]:
numbers[5] # 벗어난 인덱스로 인덱싱 시 에러

IndexError: list index out of range

In [11]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
      * from 생략 시 처음, to 생략 시 끝, step 생략 시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수도 가능

2. <font color="red">**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [9]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[0::2]) #짝수 순서의 인덱스 출력. to생략
print(numbers[2:100]) #인덱스를 벗어난 슬라이싱 가능
print(numbers[:5:2]) #from을 생략한 것

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]
[1, 5, 10]

In [11]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
for data in numbers:
    print(data, end='\t')

1	3	5	9	10	12	13	18	19	20

In [12]:
# 모든 데이터 추출2
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [19]:
# 짝수 데이터 추출
for data in numbers:
    if data%2==0:
        print(data, end=" ") #데이터 출력하고 데이터마다끝에는 스페이스 하나 쳐라

10 12 18 20

In [17]:
# 짝수 데이터 추출2
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [20]:
#Quiz.1 numbers에서 10이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [47]:
#Quiz.2 fruits에서 과일의 글자가 5글자 이상이 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [49]:
#Quiz.2-1 fruits 리스트의 과일 글자수
fruits = ['orange', 'apple', 'mango', 'kiwi']
[len(data) for data in fruits]

[6, 5, 5, 4]

In [50]:
#Quiz.3 3이상인 요소들의 제곱을 추출 . A. 9 16 25
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [32]:
#Quiz.4 리스트 요소의 값의 2배를 추출. 2, 4, 6, 8, 10
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [66]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# 슬라이싱(step 부분 미포함) - 슬라이싱을 이용해 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx']
print(numbers, end=" ")

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# 슬라이싱(step 부분 포함)
numbers = [1]*10
print('수정 전 :', numbers)
numbers[0::2] = [9, 9, 9, 9, 9]
print('수정 후 :', numbers)

수정 전 : [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
수정 후 : [9, 1, 9, 1, 9, 1, 9, 1, 9, 1]

In [70]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제됨.
- pop(idx) : idx번째 요소가 반환되고 삭제됨.
- remove(data) : list안의 data가 삭제됨.
- del 리스트변수[idx] : idx번째 요소가 삭제됨.

In [72]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]

In [74]:
numbers = [1,2,3,4,5]
print("삭제한 n번째 데이터 :", numbers.pop(1))
print("삭제 후 numbers :", numbers)

삭제한 n번째 데이터 : 2
삭제 후 numbers : [1, 3, 4, 5]

In [88]:
numbers = [1,2,3,4,5]
print("데이터 중 1을 삭제")
numbers.remove(1) #데이터 안에 없는 값 넣으면 에러 남.
print("1 삭제 후 numbers :", numbers)

데이터 중 1을 삭제
1 삭제 후 numbers : [2, 3, 4, 5]

In [89]:
numbers = [1,2,3,4,5]
print("del numbers[1]")
del numbers[1] #1번째 데이터를 삭제하라
print(numbers)

del numbers[1]
[1, 3, 4, 5]

In [91]:
numbers = [1,2,3,4,5]
if 9 in numbers:
    numbers.remove(9) #있으면 지워 없으면 아래알럿 띄워
else:
    print("해당 데이터는 존재하지 않습니다.")

해당 데이터는 존재하지 않습니다.

In [94]:
numbers.clear() #리스트 내의 모든 데이터를 삭제
numbers

[]

## 1.8 정렬하기

In [101]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬 결과만 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬 결과만 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [103]:
numbers.sort() # Empty시, 기본은 오름차순으로 정렬됨. 
numbers

[0, 5, 6, 8, 9]

In [105]:
numbers.sort(reverse=True) #내림차순으로 정렬
numbers

[9, 8, 6, 5, 0]

In [106]:
numbers.reverse() #리스트를 역순으로 변경
# numbers = numbers[::-1] #위와 똑같은 지시임
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [1]:
# 스칼라 데이터의 복제
# i = 10
# i = 'a' #이렇게 하면 새롭게 할당되고 이전 값인 10은 없어진다.

In [3]:
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
#이렇게 할당을 해 버리면, 원본데이터가 바뀌지 않는다.

원본i = 10, 복사본cp_i=10 / 원본주소=1505275281936, 복사본주소=1505275281936
원본i = 10, 복사본cp_i=99 / 원본주소=1505275281936, 복사본주소=1505275284784

In [12]:
# 데이터 구조의 복제같지만 '할당'이다
numbers = [5, 6, 1, 9]
new_numbers = numbers 
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
# 결국 '할당'의 개념이다.

원본 주소 : 1505355832128
복제본 주소 : 1505355832128
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 1505355832128
복제본 주소 : 1505355832128

In [26]:
# 할당되어버린 케이스2
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소 : 1505355833472
복제본 주소 : 1505355833472

In [27]:
# 리스트 복제(깊은 복사) **찐짜뽂쪠**
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() #numbers를 복제(깊은 복사) #여기서 선변환을 했기에 이후 계산이 가능
new_numbers.sort(reverse=True) #내림차순 정렬
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1505355399424
복제본 주소 : 1505355826432

In [28]:
numbers = [5, 6, 1, 9]
new_numbers = sorted(numbers) #sorted함수는 속도가 느리다
print("원본 :", numbers)
print("정렬본 :", new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [29]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()  #여기서 추가로 append pop remove등 적용가능
temp.sort()
print("정렬 전 :", city)
print("정렬 후 :", temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [31]:
temp.clear()
print("정렬 전 :", city)
print("정렬 후 :", temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용이라는 게 차이점. >> 수정이 필요없는 데이터에서 사용함.
- 수정이 불가하므로, 튜플에서는 데이터 수정/추가/삭제 불가. 복제는 되지만 수정할 수 없기에 무의미함.
- 제공되는 함수도 많지 않음
- ()이용해서 생성
- a, b = 10, 20 <<< 이렇게 해도 자동적으로 튜플생성됨.

In [39]:
# city = ('서울', '대전', '대구', '부산', '하남', '수원', '제주')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달됨.
city = '서울', '대전', '대구', '부산', '하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [40]:
", ".join(city) #매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능.

'서울, 대전, 대구, 부산, 하남'

In [42]:
from flist import safe_index
safe_index(city, '대전')

1

In [46]:
l = ['서울'] #요소가 하나 있는 리스트의 경우
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [54]:
city = ('서울') #요소가 1개인 튜플이라 하지 않음 -> 괄호가 자연적으로 사라지며 str로 인식되는 것.
print(type(city)) #스트링으로 잡히는 이유?
print(city)
print(len(city)) #문자이기 때문에 문자의 개수가 나옴

<class 'str'>
서울
2

In [57]:
city = ('서울',) #요소가 1개인 튜플 < 콤마(,)를 꼭 넣어야 함.
print(type(city)) 
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [59]:
city = ('서울', '하남') #요소가 2개인 튜플의 경우
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [63]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [64]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [65]:
numbers.count(2)

1

In [66]:
number.index(3)

2

In [67]:
# numbers.index(4) >> 값 없으니 바로 에러
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없당께')

해당 데이터 없당께

In [68]:
safe_index(number,4)

-1